<div style="transform: rotate(90deg);">
    <div class="row">
    <div class="col-md-10">
        </div>
    <div class="col-md-2">
    <table class="table" style="margin-top: 650; margin-bottom: 700px; margin-left: 150px;" align="center">
        <thead>
            <tr>
                <th>FECHA ORDEN</th>
                <th>FOLIO ORDEN</th>
                <th>NOMBRE</th>
                <th>APARATO</th>
                <th>MARCA</th>
                <th>COSTO</th>
                <th>KIT LIMPIEZA</th>
                <th>DLLS</th>
                <th>IVA</th>
                <th>COMPRA REFACC</th>
                <th>REFACC ECOCARE</th>
                <th>LUZ Y AGUA</th>
                <th>GARANTIA</th>
                <th>GASOLINA</th>
                <th>TECNICO</th>
                <th>COMISION</th>
                <th>TOTAL GASTOS</th>
                <th>UTILIDAD</th>
            </tr>
        </thead>
        <tbody style="font-size: x-small;">
{{#each orden}}
           <tr>
                <th>{{moment FechaVisita}}</th>
                <th>{{IdOrdenServicio}}</th>
                <th>{{NombreCli}}</th>
                <th>{{Tipo}}</th>
                <th>{{Marca}}</th>
                <th>${{Presupuesto}}</th>
                <th>${{kit}}</th>
                <th>${{Dlls}}</th>
                <th>${{Iva}}</th>
                <th>${{RefaccionesGastoFijo}}</th>
                <th>${{RefaccionesPEP}}</th>
                <th>${{LyA}}</th>
                <th>${{Gara}}</th>
                <th>${{Gas}}</th>
                <th>{{Nombre}}</th>
                <th>${{TipoTrabajo}}</th>
                <th>${{Presupuesto}}</th>
                <th>${{VisitaRealizada}}</th>
           </tr>
{{/each}}
        </tbody>
    </table>
        </div>
</div>