<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" href="/serviflash/servicios_pendientes"> <center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/serviflash/clientes"><center><i class="fas fa-address-book fa-2x"></i><br>Clientes</a></center>
        </li>
        <li class="nav-item">
          <a style="color: blue;" class="nav-link" href="/serviflash/agregar_registro"><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link "  href="/serviflash/reportes"><center><i class="fas fa-paste fa-2x"></i><br>Reportes</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Cliente</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#e6e6e6;">
                                <h1 class="text-dark mb-3 h4">Buscar</h1>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="remitosucursal" id="busquedaNO" type="text"
                                            class="form-control" placeholder="Nombre">
                                        <span class="input-group-addon"></span>
                                        <input name="remitonumero" id="busquedaCO" type="text" 
                                            class="form-control" placeholder="Colonia">
                                        <span class="input-group-addon"></span>
                                        <input name="remitonumero" id="busquedaCA" type="text" 
                                            class="form-control" placeholder="Calle">
                                        <span class="input-group-addon"></span>
                                        <input name="remitonumero" id="busquedaNU" type="number" 
                                            class="form-control" placeholder="Numero">
                                    </div>
                                </div>
                                <div class="form-group px-2">
                                    <table class="table table-bordered table-hover" id="tblmas">
                                        <thead id="tblh">
                                            <tr role="row" style="display:none">
                                                <th>Nombre</th>
                                                <th>Colonia</th>
                                                <th>Calle</th>
                                                <th>Numero</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            {{#each cliente}}
                                            <tr id="{{IdCliente}}" style="display:none">
                                                <td><a href="/serviflash/agregar_registro{{IdCliente}}/"
                                                        class="link-success">{{Nombre}}</a></td>
                                                <td>{{DirColonia}}</td>
                                                <td>{{DirCalle}}</td>
                                                <td>{{DirNum}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group pu-5">
                                    <button style="display:none" id="lib" class="btn btn-success">
                                        <a href="" id="link" class="btn btn-success"></a></button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" style="background-color:#e6e6e6;">
                                <h1 class="text-dark mb-3 h4">Agregar Cliente</h1>
                                <button class="btn btn-info size-2" onclick=Agregar() id="btnadd" title="AGREGAR CLIENTE">
                                    <i style="color: white;" class="fas fa-plus"></i>
                                </button>
                                <form action="/agregar_cliente" method="POST" style="display:none" id="form">
                                    <div class="form-group">
                                        <label>Id Cliente</label>
                                        <input type="number" name="IdCliente" style="display:none"
                                            class="form-control text-dark m-1" value="{{num}}">
                                        <input type="number" class="form-control text-dark m-1" value="{{num}}"
                                            disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" name="Nombre" class="form-control text-dark m-1" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Colonia</label>
                                        <input type="text" name="DirColonia" class="form-control text-dark m-1"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label>Calle</label>
                                        <input type="text" name="DirCalle" class="form-control text-dark m-1" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Numero</label>
                                        <input type="number" name="DirNum" class="form-control text-dark m-1" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Entre</label>
                                        <input type="text" name="DirEntre" class="form-control text-dark m-1" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input type="number" name="Telefono" class="form-control text-dark m-1"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label>RFC</label>
                                        <input type="number" name="RFC" class="form-control text-dark m-1">
                                    </div>
                                    <div class="form-group">
                                        <label>Municipio</label>
                                        <input type="text" name="Municipio" class="form-control text-dark m-1" required>
                                    </div>
                                    <div class="form-group">
                                        <label>CP</label>
                                        <input type="number" name="CP" class="form-control text-dark m-1" required>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info btn-block mx-1" title="ENVIAR">
                                            <i style="color: white;" class="fas fa-check"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    const busquedaNO = document.getElementById("busquedaNO")
    const busquedaCO = document.getElementById("busquedaCO")
    const busquedaCA = document.getElementById("busquedaCA")
    const busquedaNU = document.getElementById("busquedaNU")

    let array = []
    {{#each cliente }}
    array.push({
        id: "{{IdCliente}}",
        nombre: "{{Nombre}}",
        calle: "{{DirCalle}}",
        colonia: "{{DirColonia}}",
        numero:"{{DirNum}}"
    })
    {{/each}}

            function buscarNO() {
                busquedaCO.value=""
                busquedaCA.value=""
                busquedaNU.value=""
                const texto = busquedaNO.value.toLowerCase()
                
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let nombre = array[index].nombre.toLowerCase()
                    if (nombre.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            function buscarCO() {
                busquedaNO.value=""
                busquedaCA.value=""
                busquedaNU.value=""
                const texto = busquedaCO.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let colonia = array[index].colonia.toLowerCase()
                    if (colonia.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            function buscarCA() {
                busquedaCO.value=""
                busquedaNO.value=""
                busquedaNU.value=""
                const texto = busquedaCA.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let calle = array[index].calle.toLowerCase()
                    if (calle.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            function buscarNU() {
                busquedaCO.value=""
                busquedaCA.value=""
                busquedaNO.value=""
                const texto = busquedaNU.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let numero = array[index].numero
                    if (numero.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            busquedaNO.addEventListener("keyup", buscarNO)
            busquedaNO.addEventListener("keydown", buscarNO)
            busquedaCO.addEventListener("keyup", buscarCO)
            busquedaCO.addEventListener("keydown", buscarCO)
            busquedaCA.addEventListener("keyup", buscarCA)
            busquedaCA.addEventListener("keydown", buscarCA)
            busquedaNU.addEventListener("keyup", buscarNU)
            busquedaNU.addEventListener("keydown", buscarNU)

            function Agregar() {
                document.getElementById("btnadd").style.display = "none"
                document.getElementById("form").style.display = "block"

            }

</script>