<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #707071;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" href="/servistar/servicios_pendientes" style="color: white;"><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: #b5b5b5;"><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="#">Tecnicos</a>
          <a class="dropdown-item" href="#">Refacciones</a>
          <a class="dropdown-item" href="#">Servicios</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #707071;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #707071;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #707071;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #707071;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Cliente</h1>
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Datos</h1>
                                <form action="/agregar_registro" method="POST">
                                    {{#each cliente}}
                                    <div class="form-group">
                                        <label>Id Cliente</label>
                                        <input type="number"  class="form-control text-dark m-1"
                                            placeholder="{{IdCliente}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{Nombre}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Colonia</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{DirColonia}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Calle</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{DirCalle}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Numero</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{DirNum}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Entre</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{DirEntre}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{Telefono}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>RFC</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{RFC}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Municipio</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{Municipio}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>CP</label>
                                        <input type="text"  class="form-control text-dark m-1"
                                            placeholder="{{CP}}" disabled>
                                    </div>
                                    {{/each}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Equipo</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="display:block; background-color:#d9d9d9;" id="busE">
                                <h1 class="text-dark mb-3 h4">Buscar</h1>
                                {{#each equipo}}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Equipo {{IdEquipo}}/{{Tipo}}/{{Marca}}</div>
                                    Ver equipo =>
                                    <button class="btn btn-info" title="VER EQUIPO" onclick=SelE({{IdEquipo}})><i style="color: white;" class="fas fa-camera-retro"></i></button>
                                </div>
                            </li>
                            {{/each}}
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4" id="titulo">Agregar Equipo</h1>
                                <button class="btn btn-info size-2" onclick=Agregar() id="btnadd" title="AGREGAR EQUIPO">
                                <i style="color: white;" class="fas fa-plus"></i>
                                </button>
                                <form action="/agregar_equipo" method="POST" style="display:none" id="agregare">
                                    <div class="form-group">
                                        <label>Id cliente</label>
                                        <input type="number" value="{{idcliente}}" class="form-control text-dark m-1" disabled>
                                        <input type="number" name="IdCliente" id="IdCliente" value="{{idcliente}}" class="form-control text-dark m-1" style="display:none">
                                    </div>
                                    <div class="form-group">
                                        <label>Id equipo</label>
                                        <input type="number" id="IdEquipo" class="form-control text-dark m-1" disabled>
                                        <input type="number" name="IdEquipo" id="IdEquiporr" class="form-control text-dark m-1" style="display:none">
                                    </div>
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select name="Categoria" id="Categoria" class="form-select text-dark m-1 " onclick=tipo() disabled>
                                            <option  value="">Elige una categoria</option>
                                            <option value="LAVADO">LAVADO</option>
                                            <option value="REFRIGERACION">REFRIGERACION</option>
                                            <option value="MICROONDAS">MICROONDAS</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tipo</label> 

                                       <select name="Tipo" id="Tipo" class="form-select text-dark m-1 " disabled>
                                           <option value="">Elige un tipo</option>
                                        <option id="lav1" style="display:none" value="LAVADORA">LAVADORA</option>
                                        <option id="lav2" style="display:none" value="SECADORA">SECADORA</option>
                                        <option id="ref1" style="display:none" value="REFRIGERADOR">REFRIGERADOR
                                        </option>
                                        <option id="ref2" style="display:none" value="ENFRIADOR DE AGUA">ENFRIADOR DE
                                            AGUA</option>
                                        <option id="ref3" style="display:none" value="CONGELADOR">CONGELADOR</option>
                                        <option id="ref4" style="display:none" value="ENFRIADOR DE BOTELLAS">ENFRIADOR
                                            DE BOTELLAS</option>
                                        <option id="ref5" style="display:none" value="SERVIBAR">SERVIBAR</option>
                                        <option id="mic1" style="display:none" value="MICROONDAS">MICROONDAS</option>
                                        </select>
                                    <div class="form-group">
                                        <label>Marca</label>
                                        <input type="text" name="Marca" id="Marca" class="form-control text-dark m-1"
                                             disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Color</label>
                                        <input type="text" name="Color" id="Color" class="form-control text-dark m-1"
                                             disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Modelo</label>
                                        <input type="text" name="Modelo" id="Modelo" class="form-control text-dark m-1"
                                             disabled>
                                    </div>
                                    <div class="form-group" id="btnagr" style="display:none" title="ENVIAR">
                                        <button class="btn btn-info btn-block mx-1 ">
                                            <i style="color: white;" class="fas fa-check"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>
            <div class=" mx-auto"  id="Agregar">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Registro</h1>
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Agregar Orden de Servicio</h1>
                                <form action="/agregar_registro" method="POST">
                                    <div class="form-group">
                                        <label>Fecha de Solicitud</label>
                                        <input type="date" name="FechaSolicitud" class="form-control text-dark m-1" >
                                    </div>
                                    <div class="form-group">
                                        <label>Hora de llamda</label>
                                        <input type="time" name="HoraLLamda"  class="form-control text-dark m-1" >
                                    </div> 
                                    <div class="form-group">
                                        <label>Medio de contacto</label>
                                        <select  name="MedioDeInformacion" class="form-select text-dark m-1 " >
                                            <option value="Seccion Amarilla">Seccion Amarilla</option>
                                            <option value="Volante" >Volante</option>
                                            <option value="Red social">Red social</option>
                                             <option value="Recomendacion">Recomendacion</option>
                                             <option value="Cliente">Cliente</option>
                                          </select>
                                    </div>  
                                    <div class="form-group" style="display: none;">
                                        <label>Cliente</label>
                                              <input type="text" value="{{idcliente}}" name="IdCliente" class="form-control text-dark m-1">
                                    </div>
                                    <div class="form-group">
                                        <label>Equipo</label>
                                        <input type="text" name="IdEquipo" class="form-control text-dark m-1" disabled>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label>Falla Reportada</label>
                                        <input type="text" name="Falla"  class="form-control text-dark m-1"
                                            >
                                    </div>
                                     <div class="form-group">
                                        <label>Horario de Visita</label>
                                        <input type="time" name="HoraVisita" class="form-control text-dark m-1" >
                                    </div>  
                                    <div class="form-group">
                                        <label>Se realizo la visita</label>
                                        <select name="VisitaRealizada" class="form-select text-dark m-1 " >
                                            <option value="Si">Si</option>
                                            <option value="No" selected>No</option>
                                            <option  value="Pendiente">Pendiente</option>
                                        </select>
                                    </div> 
                                     <div class="form-group">
                                        <label>Horario Real de Visita</label>
                                        <input type="time" name="HoraVisitaReal"  class="form-control text-dark m-1" >
                                    </div> 
                                    <div class="form-group">
                                        <label>Tipo de Trabajo</label>
                                        <select name="TipoTrabajo" class="form-select text-dark m-1 " >
                                            <option value="Cotizacion">Cotizacion</option>
                                            <option value="Preventivo">Preventivo</option>
                                            <option value="Correctivo">Correctivo</option>
                                            <option value="Garantia">Garantia</option>
                                            <option value="Nueva Instalacion">Nueva Instalacion</option>
                                            <option value="Conexion Demostracion">Conexion Demostracion</option>
                                        </select>
                                    </div>  
                                    <div class="form-group" style="">
                                        <label>Reparaciones </label>
                                        <select name="Reparaciones" class="form-select text-dark m-1 ">
                                            <option value="MANTENIMIENTO PREVENTIVO">MANTENIMIENTO PREVENTIVO</option>
                                            <option value="INSTALACION">INSTALACION</option>
                                            <option value="CAMBIO ENGRANES DE AGITADOR">CAMBIO ENGRANES DE AGITADOR</option>
                                            <option value="CAMBIO JUNTA HOMOSINETICA">CAMBIO JUNTA HOMOSINETICA</option>
                                            <option value="CAMBIO SWITCH CENTRIFUGADO">CAMBIO SWITCH CENTRIFUGADO</option>
                                            <option value="CAMBIO CONTROL NIVELES">CAMBIO CONTROL NIVELES</option>
                                            <option value="CAMBIO AGITADOR">CAMBIO AGITADOR</option>
                                            <option value="CAMBIO BANDA DE TRANSMISION">CAMBIO BANDA DE TRANSMISION</option>
                                            <option value="CAMBIO CLUTCH DE VELOCIDAD">CAMBIO CLUTCH DE VELOCIDAD</option>
                                            <option value="CAMBIO VARILLAS DE SUSPENSION">CAMBIO VARILLAS DE SUSPENSION</option>
                                            <option value="CAMBIO ARO DE SUSPENSION">CAMBIO ARO DE SUSPENSION</option>
                                            <option value="CAMBIO DE TINA RECUPERADORA">CAMBIO DE TINA RECUPERADORA</option>
                                            <option value="CAMBIO DE TRANSMISION">CAMBIO DE TRANSMISION</option>
                                            <option value="REP. DE TRANSMISION, BOMBA Y MANTENIMIENTO A LAVADORA">REP. DE TRANSMISION, BOMBA Y MANTENIMIENTO A LAVADORA</option>
                                            <option value="CAMBIO DE JGO. DE BOBINAS, ESPREAS, TERMOFUSIBLE Y MANTO">CAMBIO DE JGO. DE BOBINAS, ESPREAS, TERMOFUSIBLE Y MANTO</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>REFACCIONES</label>
                                        <select name="Refacciones" class="form-select text-dark m-1 ">
                                            <option value="Accesorios para refrigeración Alco" >Accesorios para refrigeración Alco</option>
                                            <option value="Válvulas de expansión">Válvulas de expansión</option>
                                            <option value="Válvulas solenoides">Válvulas solenoides</option>
                                            <option value="Válvulas de paso">Válvulas de paso</option>
                                            <option value="Separadores de aceite Acumuladores de succión">Separadores de aceite Acumuladores de succión</option>
                                            <option value="Filtros deshidratadores Indicadores de liquidos">Filtros deshidratadores Indicadores de liquidos</option>
                                            <option value="Aceites Control de temperatura">Aceites Control de temperatura</option>
                                        </select>
                                    </div>  
                                     <div class="form-group">
                                        <label>Tecnico</label>
                                        <select name="IdTecnico" class="form-select text-dark m-1 ">
                                            <option value="0" selected >Tecnico 1</option>
                                            <option value="1">Tecnico 2</option>
                                            <option value="2">Tecnico 3</option>
                                            <option value="3">Tecnico 4</option>
                                        </select>
                                    </div>  
                                    <div class="form-group">
                                        <label>Diagnostico</label><br>
                                        <textarea name="Diagnostico"  class="form-control text-dark m-1" rows="7" ></textarea>
                                    </div>
                                     <div class="form-group">
                                        <label>Presupuesto</label>
                                        <input name="Presupuesto" type="number"  value="" class="form-control text-dark m-1"
                                             >
                                    </div>
                                    <div class="form-group">
                                        <label>Costo Real del Servicio</label>
                                        <input type="number" name="CostoServicio" value="" class="form-control text-dark m-1"
                                         >
                                    </div>
                                    <div class="form-group">
                                        <label>Garantia</label>
                                        <input name="Garantia" type="text"  class="form-control text-dark m-1" >
                                    </div>
                                    <div class="form-group">
                                        <label>Aceptacion de Presupuestos</label>
                                        <select name="AceptarPresupuesto" class="form-select text-dark m-1 ">
                                            <option value="No" >No</option>
                                            <option value="Si" >Si</option>
                                            <option value="En Espera" >En Espera</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha Estimada de terminado</label>
                                        <input type="date" name="FechaTerminadoEstimado"  class="form-control text-dark m-1"
                                             >
                                    </div>
                                    <div class="form-group">
                                        <label>Lugar de Reparacion</label>
                                        <select name="LugarReparacion" class="form-select text-dark m-1 " >
                                            <option value="Casa del cliente">Casa del cliente</option>
                                            <option  selected value="Taller">Taller</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado del Servicio</label>
                                        <select name="EstadoServicio" class="form-select text-dark m-1 " >
                                            <option value="En Ejecucion">En Ejecucion</option>
                                            <option  value="Para Entregar">Para Entregar</option>
                                            <option value="Esperando">Esperando</option>
                                            <option  value="Esperando Refacciones">Esperando Refacciones</option>
                                            <option  value="Sin Preparacion">Sin Preparacion</option>
                                            <option  value="No Aceptado">No Aceptado</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha Real de terminado</label>
                                        <input name="FechaTerminado" type="date"   class="form-control text-dark m-1"
                                             >
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Entrega</label>
                                        <input type="date" name="FechaEntrega" class="form-control text-dark m-1"
                                             >
                                    </div>
                                     <div class="form-group">
                                        <label>Vigencia de Garantia</label>
                                        <select name="VigenciaGarantia" class="form-select text-dark m-1 " >
                                            <option value="-">-</option>
                                            <option  value="15">15</option>
                                            <option value="30">30</option>
                                            <option  value="60">60</option>
                                            <option  value="90">90</option>
                                            <option  value="180">180</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Articulo o Servicio en Garantia</label>
                                         <input type="text" name="ArticuloGarantia"  class="form-control text-dark m-1">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Vencimiento</label>
                                        <input type="date" name="FechaVencimiento"  class="form-control text-dark m-1"
                                             >
                                    </div>
                                    <div class="form-group">
                                        <label>Dias para Vencimiento</label>
                                        <input type="number" name="DiasVencimiento"  class="form-control text-dark m-1"
                                             >
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <button class="btn btn-info btn-block mx-1 " title="Enviar">
                                            <i class="fas fa-check" style="color: white;"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const busqueda = document.getElementById("busqueda")
    
    let arrayE = []
   
            let a = 1
            {{#each equipo }}
            arrayE.push({
                IdCliente: "{{IdCliente}}",
                IdEquipo: "{{IdEquipo}}",
                Categoria: "{{Categoria}}",
                Tipo: "{{Tipo}}",
                Marca: "{{Marca}}",
                Color: "{{Color}}",
                Modelo: "{{Modelo}}",
                LugarS: a
            })
            a++
            {{/each}}

                    function SelE(selecE) {
                            for(index = 0; index < arrayE.length; index++){
                                if(selecE ==arrayE[index].LugarS){
                                    document.getElementById("IdCliente").value=arrayE[index].IdCliente
                                    document.getElementById("IdEquipo").value=arrayE[index].IdEquipo
                                    document.getElementById("Categoria").value=arrayE[index].Categoria
                                    document.getElementById("Tipo").value=arrayE[index].Tipo
                                    document.getElementById("Marca").value=arrayE[index].Marca
                                    document.getElementById("Color").value=arrayE[index].Color
                                    document.getElementById("Modelo").value=arrayE[index].Modelo
                                    document.getElementById("EquipoRr").value=arrayE[index].IdEquipo
                                    document.getElementById("EquipoR").value=arrayE[index].IdEquipo
                                    document.getElementById("Agregar").style.display = "block"
                                    document.getElementById("agregare").style.display = "block"
                                    document.getElementById("btnadd").style.display = "none"
                                    document.getElementById("titulo").innerText="EQUIPO SELECCIONADO"
                                    document.getElementById("equipo").innerText="EQUIPO "+arrayE[index].Tipo+" "+arrayE[index].Marca



                                }
                            }
                    }

                    function Agregar(){
                        document.getElementById("agregare").style.display = "block"
                        document.getElementById("btnadd").style.display = "none"
                        document.getElementById("IdEquipo").value=arrayE.length+1
                        document.getElementById("IdEquiporr").value=arrayE.length+1
                        document.getElementById("Categoria").disabled=false
                        document.getElementById("Tipo").disabled=false
                        document.getElementById("Marca").disabled=false
                        document.getElementById("Color").disabled=false
                        document.getElementById("Modelo").disabled=false
                        document.getElementById("btnagr").style.display = "block"
                        document.getElementById("busE").style.display = "none"
                    }

                    function tipo(){
                       if (document.getElementById("Categoria").selectedIndex == 1) {

                        document.getElementById("ref1").style.display = "none"
                        document.getElementById("ref2").style.display = "none"
                        document.getElementById("ref3").style.display = "none"
                        document.getElementById("ref4").style.display = "none"
                        document.getElementById("ref5").style.display = "none"

                        document.getElementById("lav1").style.display = "block"
                        document.getElementById("lav2").style.display = "block"

                        document.getElementById("mic1").style.display = "none"

                    } else if (document.getElementById("Categoria").selectedIndex == 2) {

                        document.getElementById("ref1").style.display = "block"
                        document.getElementById("ref2").style.display = "block"
                        document.getElementById("ref3").style.display = "block"
                        document.getElementById("ref4").style.display = "block"
                        document.getElementById("ref5").style.display = "block"

                        document.getElementById("lav1").style.display = "none"
                        document.getElementById("lav2").style.display = "none"

                        document.getElementById("mic1").style.display = "none"

                    } else if (document.getElementById("Categoria").selectedIndex == 3) {
                        document.getElementById("ref1").style.display = "none"
                        document.getElementById("ref2").style.display = "none"
                        document.getElementById("ref3").style.display = "none"
                        document.getElementById("ref4").style.display = "none"
                        document.getElementById("ref5").style.display = "none"

                        document.getElementById("lav1").style.display = "none"
                        document.getElementById("lav2").style.display = "none"

                        document.getElementById("mic1").style.display = "block"
                    }
                    }


</script>