<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/servicios_pendientes" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
         <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-calendar-alt fa-2x"></i><br>Calendario</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/calendario_tec">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/calendario_ayu">Ayudantes</a>

        </div>
      </li>
        
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: #b5b5b5;" ><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="/servistar/tecnicos">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/refacciones">Refacciones</a>
          <a class="dropdown-item" href="/servistar/gastos_fijos">Gastos Fijos</a>
          <a style="display: none;" class="dropdown-item" href="/servistar/servicios">Descripcion <br> del trabajo</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #5b5378;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4"><section id="tit">Cliente </section><button onclick=ocuC() class="btn btn-info" ><i style="color: white;" class="fas fa-arrows-alt-v"></i></button></h1>
                        <section id="ocuC" style="display: block;">
                    <div class="card">
                        <div class="card-body" style="background-color:#d9d9d9;">
                            <h1 id="vec0" style="display: block;" class="text-dark mb-3 h4">Datos</h1>
                            <h1 id="vec" style="display: none;" class="text-dark mb-3 h4">Datos <a id="vec1" href="/vetar_cliente{{id}}" class="btn btn-danger">Vetar Cliente</a></h1>
                            <form action="/editar_cliente" method="POST" >
                                {{#each cliente}}
                                <div class="row" style="">
                                <div class="col-md-3">
                                    <label>Id Cliente</label>
                                    <input type="number" style="display: none;" name="IdCliente"
                                        class="form-control text-dark m-1" value="{{IdCliente}}">
                                    <input type="number" class="form-control text-dark m-1" value="{{IdCliente}}" disabled>
                                </div>
                                <div class="col-md-9">
                                    <label>Nombre</label>
                                    <input type="text"  id="nombre" name="Nombre" class="form-control text-dark m-1" 
                                        value="{{Nombre}}" disabled required>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-5">
                                    <label>Calle</label>
                                    <input type="text" id="calle" name="DirCalle" class="form-control text-dark m-1"
                                        value="{{DirCalle}}" disabled required>
                                </div>
                                
                                <div class="col-md-2">
                                    <label>Numero</label>
                                    <input type="text" id="numero" name="DirNum" class="form-control text-dark m-1"
                                        value="{{DirNum}}" disabled required>
                                </div>
                                <div class="col-md-5">
                                    <label>Colonia</label>
                                    <input type="text" id="colonia" name="DirColonia" class="form-control text-dark m-1"
                                        value="{{DirColonia}}" disabled required>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-9">
                                    <label>Datos de Ubicacion</label>
                                    <input type="text" id="entre" name="DirEntre" class="form-control text-dark m-1"
                                        value="{{DirEntre}}" disabled required>
                                </div>
                                <div class="col-md-3">
                                    <label>Municipio</label>
                                    <input type="text" id="municipio" name="Municipio"
                                        class="form-control text-dark m-1" value="{{Municipio}}" disabled required>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <label>Telefono</label>
                                    <input type="text" id="telefono" name="Telefono" class="form-control text-dark m-1"
                                        value="{{Telefono}}" disabled required>
                                </div>
                                <div class="col-md-3">
                                    <label>RFC</label>
                                    <input type="text" id="rfc" name="RFC" class="form-control text-dark m-1"
                                        value="{{RFC}}" disabled>
                                </div>
                                <div class="col-md-3">
                                    <label>CP</label>
                                    <input type="text" id="cp" name="CP" class="form-control text-dark m-1"
                                        value="{{CP}}" disabled>
                                </div>
                                </div>
                                {{/each}}
                                <button class="btn btn-info size-2" onclick=AgregarC() id="btnaddc" title="GUARDAR"
                                    style="display: none;"> <i style="color: white;" class="fas fa-check"></i></button>

                                
                            </form>
                            <button class="btn btn-info" title="EDITAR" id="btneditarc" onclick=editarc()
                                style="display: block;"><i style="color: white;" class="far fa-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <div class=" mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-dark mb-3 h4">Equipo <button onclick=ocuE() class="btn btn-info" ><i style="color: white;" class="fas fa-arrows-alt-v"></i></button></h1>
                <div class=" mx-auto">
                        <section id="ocuE" style="display: block;">
                    <div class="card">
                        <div class="card-body" style="display:block; background-color:#d9d9d9;" id="busE">
                            <h1 class="text-dark mb-3 h4">Buscar</h1>
                            {{#each equipo}}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Equipo {{IdEquipo}}/{{Tipo}}/{{Marca}}</div>
                                    Ver equipo =>
                                    <button class="btn btn-info" title="VER EQUIPO" onclick=SelE({{IdEquipo}})><i style="color: white;" class="fas fa-camera-retro"></i></button>
                                </div>
                            </li>
                            {{/each}}
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body" style="background-color:#d9d9d9;">
                            <h1 class="text-dark mb-3 h4">Agregar</h1>
                            <button class="btn btn-info size-2" onclick=Agregar() id="btnadd" title="AGREGAR EQUIPO"><i style="color: white;"
                                    class="fas fa-plus"></i></button>
                            <form action="/ver_cliente/agregare" method="POST" style="display:none" id="agregare">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Id cliente</label>
                                    <input type="number" class="form-control text-dark m-1" disabled id="IdClienterr"
                                        value="{{id}}">
                                    <input type="number" value="{{id}}" name="IdCliente" id="IdCliente"
                                        class="form-control text-dark m-1" style="display:none">
                                </div>
                                <div class="col-md-2">
                                    <label>Id equipo</label>
                                    <input type="number" id="IdEquipo" class="form-control text-dark m-1" disabled>
                                    <input type="number" name="IdEquipo" id="IdEquiporr"
                                        class="form-control text-dark m-1" style="display:none">
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-5">
                                    <label>Categoria</label>
                                    <select name="Categoria" id="Categoria" class="form-select text-dark m-1 "
                                        onclick=tipo() disabled>
                                        <option value="">Elige una categoria</option>
                                        <option value="LAVADO">LAVADO</option>
                                        <option value="REFRIGERACION">REFRIGERACION</option>
                                        <option value="COCINA">COCINA</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <label>Tipo</label>
                                    <select name="Tipo" id="Tipo" class="form-select text-dark m-1 " disabled>
                                        <option value="">Elige un tipo</option>
                                         <option id="lav1" style="display:none" value="LAVADORA">LAVADORA</option>
                                        <option id="lav2" style="display:none" value="SECADORA">SECADORA</option>
                                        <option id="lav3" style="display:none" value="CENTRO DE LAVADO">CENTRO DE LAVADO</option>
                                        <option id="ref1" style="display:none" value="REFRIGERADOR">REFRIGERADOR
                                        </option>
                                        <option id="ref2" style="display:none" value="ENFRIADOR DE AGUA">ENFRIADOR DE
                                            AGUA</option>
                                        <option id="ref3" style="display:none" value="CONGELADOR">CONGELADOR</option>
                                        <option id="ref4" style="display:none" value="ENFRIADOR DE BOTELLAS">ENFRIADOR DE BOTELLAS</option>
                                        <option id="ref5" style="display:none" value="REFRIGERADOR CON DESPACHADOR">REFRIGERADOR CON DESPACHADOR</option>
                                        <option id="ref6" style="display:none" value="REFRIGERADOR SIN DESPACHADOR">REFRIGERADOR SIN DESPACHADOR</option>
                                        <option id="ref7" style="display:none" value="REFRIGERADOR PANELABLE CAFETERA">REFRIGERADOR PANELABLE CAFETERA</option>
                                        <option id="ref8" style="display:none" value="SERVIBAR">SERVIBAR</option>
                                        <option id="mic1" style="display:none" value="ESTUFAS 120 -150 CM">ESTUFAS 120 -150 CM</option>
                                        <option id="mic2" style="display:none" value="ESTUFA 90CM ">ESTUFA 90CM </option>
                                        <option id="mic3" style="display:none" value="HORNO DOBLE">HORNO DOBLE</option>
                                        <option id="mic4" style="display:none" value="HORNO 60 70 90 CM Y 30">HORNO 60 70 90 CM Y 30</option>
                                        <option id="mic5" style="display:none" value="HORNO COMPACTO">HORNO COMPACTO</option>
                                        <option id="mic6" style="display:none" value="PARRILLA ELÉCTRICA DE INDUCCIÓN 60 90 CM  Y 30 ">PARRILLA ELÉCTRICA DE INDUCCIÓN 60 90 CM  Y 30</option>
                                        <option id="mic7" style="display:none" value="DOMINÓ ELÉCTRICO ,INDUCCIÓN Y GAS">DOMINÓ ELÉCTRICO ,INDUCCIÓN Y GAS </option>
                                        <option id="mic8" style="display:none" value="CAVA DE VINOS 82CM CAVA DE VINO 60 Y 45 CM">CAVA DE VINOS 82CM CAVA DE VINO 60 Y 45 CM</option>
                                        <option id="mic9" style="display:none" value="PARRILLA DE GAS">PARRILLA DE GAS</option>
                                        <option id="mic10" style="display:none" value="LAVAVAJILLAS">LAVAVAJILLAS</option>
                                        <option id="mic11" style="display:none" value="CAMPANA DE ISLA">CAMPANA DE ISLA</option>
                                        <option id="mic12" style="display:none" value="CAMPANA DE INTEGRACIÓN CAMPANA DE PARED 120 -150 CM ">CAMPANA DE INTEGRACIÓN CAMPANA DE PARED 120 -150 CM </option>
                                        <option id="mic13" style="display:none" value="CAMPANA DE PARED">CAMPANA DE PARED</option>
                                        <option id="mic14" style="display:none" value="CAMPANA TELESCÓPICA Y BAJO ALACENA">CAMPANA TELESCÓPICA Y BAJO ALACENA</option>
                                        <option id="mic15" style="display:none" value="CAJONES TÉRMICOS">CAJONES TÉRMICOS</option>
                                        <option id="mic16" style="display:none" value="ASADORES  Y COCINAS EXTERIOR">ASADORES  Y COCINAS EXTERIOR</option>
                                    </select>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-3">
                                    <label>Marca</label>
                                        <select name="Marca" id="Marca" class="form-select text-dark m-1 " disabled>
                                        <option value="Sin Marca">Sin Marca</option>
                                        <option value="Amana">Amana</option>
                                        <option value="Daewoo">Daewoo</option>
                                        <option value="Westinghouse">Westinghouse</option>
                                        <option value="Maytag">Maytag</option>
                                        <option value="Magic Chef">Magic Chef</option>
                                        <option value="Gibson">Gibson</option>
                                        <option value="Mabe">Mabe</option>
                                        <option value="Hotpoint">Hotpoint</option>
                                        <option value="Teka">Teka</option>
                                        <option value="Sub-Zero">Sub-Zero</option>
                                        <option value="Supermatic">Supermatic</option>
                                        <option value="Wolf">Wolf</option>
                                        <option value="Samsung">Samsung</option>
                                        <option value="Whirlpool">Whirlpool</option>
                                        <option value="Easy">Easy</option>
                                        <option value="Kenmore">Kenmore</option>
                                        <option value="Roper">Roper</option>
                                        <option value="Kelvinator">Kelvinator</option>
                                        <option value="Speed Queen">Speed Queen</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Color</label>
                                    <input type="text" name="Color" id="Color" class="form-control text-dark m-1"
                                        disabled>
                                </div>
                                <div class="col-md-3">
                                    <label>Modelo</label>
                                    <input type="text" name="Modelo" id="Modelo" class="form-control text-dark m-1"
                                        disabled>
                                </div>
                                 <div class="col-md-3">
                                    <label>Serie</label>
                                    <input type="text" name="Serie" id="Serie" class="form-control text-dark m-1"
                                        disabled>
                                </div>
                                </div>
                                <div class="form-group" id="btnagr" style="display:none" title="GUARDAR">
                                    <button class="btn btn-info btn-block mx-1 ">
                                        <i style="color: white;" class="fas fa-check"></i>
                                    </button>
                                </div>
                            </form>

                            <form action="/editar_equipo" method="POST" style="display:none" id="editare">
                                <div class="row">
                                <div class="col-md-2">
                                    <label>Id cliente</label>
                                    <input type="number" class="form-control text-dark m-1" disabled id="IdClienterrE"
                                        value="{{id}}">

                                    <input type="number" name="IdCliente" value="{{id}}" id="IdClienteE"
                                        class="form-control text-dark m-1" style="display:none">
                                </div>
                                <div class="col-md-2">
                                    <label>Id equipo</label>
                                    <input type="number" id="IdEquipoE" class="form-control text-dark m-1" disabled>
                                    <input type="number" name="IdEquipo" id="IdEquiporrE"
                                        class="form-control text-dark m-1" style="display:none">
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-5">
                                    <label>Categoria</label>
                                    <select name="Categoria" id="CategoriaE" class="form-select text-dark m-1 "
                                        onclick=tipo("E") disabled>
                                        <option value="">Elige una categoria</option>
                                        <option value="LAVADO">LAVADO</option>
                                        <option value="REFRIGERACION">REFRIGERACION</option>
                                        <option value="COCINA">COCINA</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <label>Tipo</label>
                                    <select name="Tipo" id="TipoE" class="form-select text-dark m-1 " disabled>
                                        <option value="">Elige un tipo</option>
                                         <option id="lav1E" style="display:none" value="LAVADORA">LAVADORA</option>
                                        <option id="lav2E" style="display:none" value="SECADORA">SECADORA</option>
                                        <option id="lav3E" style="display:none" value="CENTRO DE LAVADO">CENTRO DE LAVADO</option>
                                        <option id="ref1E" style="display:none" value="REFRIGERADOR">REFRIGERADOR
                                        </option>
                                        <option id="ref2E" style="display:none" value="ENFRIADOR DE AGUA">ENFRIADOR DE
                                            AGUA</option>
                                        <option id="ref3E" style="display:none" value="CONGELADOR">CONGELADOR</option>
                                        <option id="ref4E" style="display:none" value="ENFRIADOR DE BOTELLAS">ENFRIADOR DE BOTELLAS</option>
                                        <option id="ref5E" style="display:none" value="REFRIGERADOR CON DESPACHADOR">REFRIGERADOR CON DESPACHADOR</option>
                                        <option id="ref6E" style="display:none" value="REFRIGERADOR SIN DESPACHADOR">REFRIGERADOR SIN DESPACHADOR</option>
                                        <option id="ref7E" style="display:none" value="REFRIGERADOR PANELABLE CAFETERA">REFRIGERADOR PANELABLE CAFETERA</option>
                                        <option id="ref8E" style="display:none" value="SERVIBAR">SERVIBAR</option>
                                        <option id="mic1E" style="display:none" value="ESTUFAS 120 -150 CM">ESTUFAS 120 -150 CM</option>
                                        <option id="mic2E" style="display:none" value="ESTUFA 90CM ">ESTUFA 90CM </option>
                                        <option id="mic3E" style="display:none" value="HORNO DOBLE">HORNO DOBLE</option>
                                        <option id="mic4E" style="display:none" value="HORNO 60 70 90 CM Y 30">HORNO 60 70 90 CM Y 30</option>
                                        <option id="mic5E" style="display:none" value="HORNO COMPACTO">HORNO COMPACTO</option>
                                        <option id="mic6E" style="display:none" value="PARRILLA ELÉCTRICA DE INDUCCIÓN 60 90 CM  Y 30 ">PARRILLA ELÉCTRICA DE INDUCCIÓN 60 90 CM  Y 30</option>
                                        <option id="mic7E" style="display:none" value="DOMINÓ ELÉCTRICO ,INDUCCIÓN Y GAS">DOMINÓ ELÉCTRICO ,INDUCCIÓN Y GAS </option>
                                        <option id="mic8E" style="display:none" value="CAVA DE VINOS 82CM CAVA DE VINO 60 Y 45 CM">CAVA DE VINOS 82CM CAVA DE VINO 60 Y 45 CM</option>
                                        <option id="mic9E" style="display:none" value="PARRILLA DE GAS">PARRILLA DE GAS</option>
                                        <option id="mic10E" style="display:none" value="LAVAVAJILLAS">LAVAVAJILLAS</option>
                                        <option id="mic11E" style="display:none" value="CAMPANA DE ISLA">CAMPANA DE ISLA</option>
                                        <option id="mic12E" style="display:none" value="CAMPANA DE INTEGRACIÓN CAMPANA DE PARED 120 -150 CM ">CAMPANA DE INTEGRACIÓN CAMPANA DE PARED 120 -150 CM </option>
                                        <option id="mic13E" style="display:none" value="CAMPANA DE PARED">CAMPANA DE PARED</option>
                                        <option id="mic14E" style="display:none" value="CAMPANA TELESCÓPICA Y BAJO ALACENA">CAMPANA TELESCÓPICA Y BAJO ALACENA</option>
                                        <option id="mic15E" style="display:none" value="CAJONES TÉRMICOS">CAJONES TÉRMICOS</option>
                                        <option id="mic16E" style="display:none" value="ASADORES  Y COCINAS EXTERIOR">ASADORES  Y COCINAS EXTERIOR</option>
                                    </select>
                                </div>
                                </div>
                                 <div class="row">
                                <div class="col-md-3">
                                    <label>Marca</label>
                                        <select name="Marca" id="MarcaE" class="form-select text-dark m-1 " disabled>
                                        <option value="Sin Marca">Sin Marca</option>
                                        <option value="Amana">Amana</option>
                                        <option value="Daewoo">Daewoo</option>
                                        <option value="Westinghouse">Westinghouse</option>
                                        <option value="Maytag">Maytag</option>
                                        <option value="Magic Chef">Magic Chef</option>
                                        <option value="Gibson">Gibson</option>
                                        <option value="Mabe">Mabe</option>
                                        <option value="Hotpoint">Hotpoint</option>
                                        <option value="Teka">Teka</option>
                                        <option value="Sub-Zero">Sub-Zero</option>
                                        <option value="Supermatic">Supermatic</option>
                                        <option value="Wolf">Wolf</option>
                                        <option value="Samsung">Samsung</option>
                                        <option value="Whirlpool">Whirlpool</option>
                                        <option value="Easy">Easy</option>
                                        <option value="Kenmore">Kenmore</option>
                                        <option value="Roper">Roper</option>
                                        <option value="Kelvinator">Kelvinator</option>
                                        <option value="Speed Queen">Speed Queen</option>

                                        
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Color</label>
                                    <input type="text" name="Color" id="ColorE" class="form-control text-dark m-1"
                                        disabled>
                                </div>
                                <div class="col-md-3">
                                    <label>Modelo</label>
                                    <input type="text" name="Modelo" id="ModeloE" class="form-control text-dark m-1"
                                        disabled>
                                </div>
                                <div class="col-md-3">
                                    <label>Serie</label>
                                    <input type="text" name="Serie" id="SerieE" class="form-control text-dark m-1"
                                        disabled>
                                </div>
                                </div>
                                <div class="form-group" id="btnagrE" style="display:none" title="GUARDAR">
                                    <button class="btn btn-info  mx-1 ">
                                        <i style="color: white;" class="fas fa-check"></i>
                                    </button>
                                </div>
                            </form>
                            <button class="btn btn-info" title="EDITAR" id="btneditare" onclick=editare()
                                style="display: none;"><i style="color: white;" class="far fa-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>
    <div class=" mx-auto" id="Agregar">
        <div class="card">
            <div class="card-body">
                <h1 class="text-dark mb-3 h4">Registros <button onclick=ocuR() class="btn btn-info" ><i style="color: white;" class="fas fa-arrows-alt-v"></i></button></h1>
                <section id="ocuR" style="display: block;">
                <div class="card">
                    <div class="card-body" style="background-color:#d9d9d9;">
                        <ol class="list-group list-group-numbered" id="registros" style="display:block">
                            {{#each orden}}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold" id="p{{IdOrdenServicio}}"> Folio {{IdOrdenServicio}}</div>
                                   Ver orden de servicio =>
                                    <button class="btn btn-info" title="VER ORDEN" onclick=registro({{IdOrdenServicio}})><i style="color: white;"
                                            class="far fa-id-badge"></i></button>
                                            <a href="/ver_garantia{{IdOrdenServicio}}/"  id="garra{{IdOrdenServicio}}" title="GARANTIA" class="btn btn-info"><i style="color: white;"
                                            class="fas fa-exclamation-triangle"></i></a>
                                            <a href="/servistar/notas{{IdOrdenServicio}}/" title="VER POLIZA DE GARANTIA" class="btn btn-info"><i style="color: rgb(202, 201, 212);"
                                             class="fas fa-file-invoice"></i></a>
                                            <a href="/servistar/notablan{{IdOrdenServicio}}/" title="VER POLIZA DE GARANTIA EN BLANCO" class="btn btn-info"><i style="color: white;"
                                             class="fas fa-file-invoice"></i></a>
                                            <div style="display: none;">
                                            <a href="/ver_nota/{{IdOrdenServicio}}" title="IMAGEN ORDEN DE SERVICIO" class="btn btn-info"><i style="color: white;"
                                            class="far fa-file-image"></i></a>
                                            </div>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                        {{#each orden}}

                        <div style="display:none" id="btn{{IdOrdenServicio}}">
                            <button class="btn btn-info" title="ATRAS" onclick=registro({{IdOrdenServicio}})><i style="color: white;"
                                    class="fas fa-chevron-left"></i></button>
                            <button class="btn btn-info" title="EDITAR" onclick=editar_registro({{IdOrdenServicio}})><i style="color: white;"
                                    class="far fa-edit"></i></button>

                        </div>

                        <form action="/editar_registro" method="POST" style="display:none; line-height: 30px;" id="{{IdOrdenServicio}}">

                             <div class="row">
                                <div class="col-md-2">
                                <label>Folio</label>
                                <input type="number" name="IdOrdenServicio" id="Idre" value="{{IdOrdenServicio}}"
                                    style="display:none" class="form-control text-dark m-1">
                                <input type="number" value="{{IdOrdenServicio}}" class="form-control text-dark m-1"
                                    disabled>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Folio sucursal</label>
                                              <input type="text" value="{{IdSucursal}}" id="IdSucursal{{IdOrdenServicio}}" name="IdSucursal" class="form-control text-dark m-1" disabled> 
                                    </div>
                                     <div class="col-md-4">
                                        <label id="labelIdCliente{{IdOrdenServicio}}">Cliente</label>
                                              <input type="text" value="{{IdCliente}}" id="IdCliente{{IdOrdenServicio}}" class="form-control text-dark m-1" disabled> 
                                              <input type="text" style="display: none;" value="{{IdCliente}}" name="IdCliente" class="form-control text-dark m-1"> 
                                    </div>
                                    <div class="col-md-4">
                                        <label id="labelIdEquipo{{IdOrdenServicio}}">Equipo</label>
                                        <input type="text" name="IdEquipo"id="IdEquipo{{IdOrdenServicio}}" value="{{IdEquipo}}" class="form-control text-dark m-1" disabled>
                                        
                                    </div>
                            
                            </div>
                              <div class="row">
                                    <div class="col-md-3">
                                        <label>Fecha de Solicitud</label>
                                        <input type="date" name="FechaSolicitud" id="FechaSolicitud{{IdOrdenServicio}}" value="{{moment FechaSolicitud}}" class="form-control text-dark m-1" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Hora de llamada</label>
                                        <input type="time" name="HoraLLamda" id="HoraLLamda{{IdOrdenServicio}}" value="{{HoraLLamda}}" class="form-control text-dark m-1" disabled>
                                    </div> 
                                    <div class="col-md-3">
                                        <label>Medio de contacto</label>
                                        <select  name="MedioDeInformacion" id="MedioDeInformacion{{IdOrdenServicio}}" class="form-select text-dark m-1 " disabled>

                                            <option value="{{MedioDeInformacion}}">{{MedioDeInformacion}}</option>
                                           <option value="Seccion Amarilla">Seccion Amarilla</option>
                                            <option value="Volante" >Volante</option>
                                            <option value="Red social">Red social</option>
                                             <option value="Recomendacion">Recomendacion</option>
                                             <option value="Cliente">Cliente</option>
                                          </select>
                                    </div>
                                     <div class="col-md-3">
                                        <label>Estado del Servicio</label>
                                        <select name="EstadoServicio" id="EstadoServicio{{IdOrdenServicio}}" class="form-select text-dark m-1 "disabled >
                                            <option value="{{EstadoServicio}}">{{EstadoServicio}}</option>
                                            <option value="En Ejecucion">En Ejecucion</option>
                                            <option  value="Para Entregar">Para Entregar</option>
                                            <option value="Esperando">Esperando</option>
                                            <option  value="Esperando Refacciones">Esperando Refacciones</option>
                                            <option  value="Sin Reparacion">Sin Reparacion</option>
                                            <option  value="No Aceptado">No Aceptado</option>
                                            <option  value="Terminado">Terminado</option>
                                            <option  value="Pendiente de Visita">Pendiente de Visita</option>
                                        </select>
                                    </div>  
                                    </div>
                                    <div class="form-group">
                                        <label>Falla Reportada</label>
                                        <input type="text" name="Falla" id="Falla{{IdOrdenServicio}}" value="{{Falla}}" class="form-control text-dark m-1"
                                           disabled >
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                        <label>Fecha de Visita</label>
                                        <input type="date" name="FechaVisita" id="FechaVisita{{IdOrdenServicio}}" value="{{moment FechaVisita}}" class="form-control text-dark m-1" disabled>
                                    </div>
                                     <div class="col-md-3">
                                        <label>Horario de Visita</label>
                                        <input type="time" name="HoraVisita" id="HoraVisita{{IdOrdenServicio}}" value="{{HoraVisita}}" class="form-control text-dark m-1" disabled>
                                    </div>  
                                     <div class="col-md-3">
                                        <label>Horario Real de Visita</label>
                                        <input type="time" name="HoraVisitaReal" id="HoraVisitaReal{{IdOrdenServicio}}" value="{{HoraVisitaReal}}" class="form-control text-dark m-1" disabled>
                                    </div> 
                                    </div>
                                    <div class="row">
                                    <div class="col-md-2">
                                        <label>Tipo de Trabajo</label>
                                        <select name="TipoTrabajo" id="TipoTrabajo{{IdOrdenServicio}}" class="form-select text-dark m-1 "  disabled>
                                            <option value="{{TipoTrabajo}}">{{TipoTrabajo}}</option>
                                            <option value="Cotizacion">Cotizacion</option>
                                            <option value="Preventivo">Preventivo</option>
                                            <option value="Correctivo">Correctivo</option>
                                            <option value="Garantia">Garantia</option>
                                            <option value="Nueva Instalacion">Nueva Instalacion</option>
                                            <option value="Conexion Demostracion">Conexion Demostracion</option>
                                        </select>
                                    </div>  
                                    <div class="col-md-4" style="display: none;">
                                        <label>Trabajo a realizar </label><br>
                                        <a href="/servistar/agregar_servicios{{IdOrdenServicio}}" target="_blank" class="btn btn-info" style="color:white">Agregar Reparaciones</a>
                                    </div>
                                    <div class="col-md-4">
                                        <label>REFACCIONES</label> <br>
                                         <a target="_blank" href="/servistar/agregar_refaccion{{IdOrdenServicio}}" class="btn btn-info" style="color:white">Agregar Refacciones al servicio</a>
                                        
                                    </div>
                                     <div class="col-md-4">
                                        <label>Tecnico {{IdTecnico}} y Ayudante {{IdAyudante}}</label>
                                        <a target="_blank" href="/servistar/tecnicos_ayudantes{{IdOrdenServicio}}" class="btn btn-info" style="color:white">Agregar tecnicos y ayudantes</a>
                                    </div>
                                    </div>  
                                    <div class="row">
                                    </div>
                                    <div class="form-group">
                                        <label>Diagnostico</label><br>
                                        <textarea name="Diagnostico" disabled id="Diagnostico{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" >{{Diagnostico}}</textarea>
                                    </div>
                                     <div class="form-group">
                                        <label>Descripcion del trabajo realizado</label><br>
                                        <textarea name="Descripcion" disabled id="Descripcion{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" >{{Descripcion}}</textarea>
                                    </div>
                                    <div class="row">
                                     <div class="col-md-6">
                                        <label>Refacciones</label><br>
                                        <textarea  disabled id="refaccion{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" ></textarea>
                                    </div>
                                     <div class="col-md-4" style="display: none;">
                                        <label>Servicio</label><br>
                                        <textarea  disabled id="servicio{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" ></textarea>
                                    </div>
                                     <div class="col-md-6">
                                        <label>Refacciones en garantia</label><br>
                                        <textarea  disabled id="refaccion_g{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" ></textarea>
                                    </div>
                                    </div>
                                    <div class="row">
                                     <div class="col-md-6">
                                        <label>Gastos fijos</label><br>
                                        <textarea  disabled id="gastos{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" ></textarea>
                                    </div>
                                     <div class="col-md-6" style="display: none;">
                                        <label>Servicios en garantia</label><br>
                                        <textarea  disabled id="servicio_g{{IdOrdenServicio}}" class="form-control text-dark m-1" rows="4" ></textarea>
                                    </div>
                                    </div>
                                    <div class="row">
                                        
                                     <div class="col-md-3" style="display: none;">
                                        <label>Presupuesto</label>
                                        <input name="Presupuesto" type="number" id="Presupuesto{{IdOrdenServicio}}"  value="{{Presupuesto}}" class="form-control text-dark m-1"
                                            disabled required>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Costo del Servicio</label>
                                        <input type="number" name="CostoServicio" id="CostoServicio{{IdOrdenServicio}}" value="{{CostoServicio}}" class="form-control text-dark m-1"
                                        disabled >
                                    </div>
                                    <div class="col-md-3">
                                        <label>Aceptacion de Presupuestos</label>
                                        <select name="AceptarPresupuesto" id="AceptarPresupuesto{{IdOrdenServicio}}" class="form-select text-dark m-1 " disabled>
                                            <option value="{{AceptarPresupuesto}}">{{AceptarPresupuesto}}</option>
                                            <option value="No" >No</option>
                                            <option value="Si" >Si</option>
                                            <option value="En Espera" >En Espera</option>
                                        </select>
                                    </div>
                                     <div class="col-md-3">
                                        <label>Vigencia de Garantia</label>
                                        <select name="VigenciaGarantia" id="VigenciaGarantia{{IdOrdenServicio}}" class="form-select text-dark m-1 " disabled >
                                            <option value="{{VigenciaGarantia}}">{{VigenciaGarantia}}</option>
                                            <option value="0">0</option>
                                            <option  value="15">15</option>
                                            <option value="30">30</option>
                                            <option  value="60">60</option>
                                            <option  value="90">90</option>
                                            <option  value="180">180</option>
                                        </select>
                                    </div>
                                     <div class="col-md-3">
                                        <label>Lugar de Reparacion</label>
                                        <select name="LugarReparacion" id="LugarReparacion{{IdOrdenServicio}}" class="form-select text-dark m-1 " disabled>
                                            <option value="{{LugarReparacion}}">{{LugarReparacion}}</option>
                                            <option value="Casa del cliente">Casa del cliente</option>
                                            <option   value="Taller">Taller</option>
                                        </select>
                                    </div> 
                                    </div>
                                    
                                     <div class="row">
                                     <div class="col-md-3">
                                        <label>Fecha Estimada terminado</label>
                                        <input type="date" id="FechaTerminadoEstimado{{IdOrdenServicio}}" name="FechaTerminadoEstimado" value="{{moment FechaTerminadoEstimado}}" class="form-control text-dark m-1"
                                             disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Fecha Real de terminado</label>
                                        <input name="FechaTerminado" type="date" id="FechaTerminado{{IdOrdenServicio}}"  value="{{moment FechaTerminado}}" class="form-control text-dark m-1"
                                            disabled >
                                    </div>
                                    <div class="col-md-3">
                                        <label>Fecha de Entrega</label>
                                        <input type="date" name="FechaEntrega" id="FechaEntrega{{IdOrdenServicio}}" value="{{moment FechaEntrega}}" class="form-control text-dark m-1"
                                            disabled >
                                    </div>
                                    <div class="col-md-3">
                                        <label>Fecha de Vencimiento</label>
                                        <input type="date" name="FechaVencimiento" id="FechaVencimiento{{IdOrdenServicio}}" value="{{moment FechaVencimiento}}" class="form-control text-dark m-1"
                                            disabled >
                                    </div>
                                    </div>
                                    
                                    <div class="row">
                                   <div class="col-md-3">
                                        <label>Dias para Vencimiento</label>
                                        <input type="number" name="DiasVencimiento" id="DiasVencimiento{{IdOrdenServicio}}" value="{{DiasVencimiento}}" class="form-control text-dark m-1"
                                            disabled >
                                    </div>
                                    <div class="col-md-3">
                                    <label>Dolares</label>
                                    <input type="number" class="form-control text-dark m-1" id="Dolares{{IdOrdenServicio}}" name="Dolares" value="{{Dolares}}" disabled>
                                </div>
                                <div class="col-md-3">
                                    <label>Refacciones</label>
                                    <input type="number" class="form-control text-dark m-1" id="RefaccionesGastoFijo{{IdOrdenServicio}}" name="RefaccionesGastoFijo" value="{{RefaccionesGastoFijo}}" disabled >
                                </div>
                                <div class="col-md-3">
                                    <label>Refacciones PEP</label>
                                    <input type="number" class="form-control text-dark m-1" id="RefaccionesPEP{{IdOrdenServicio}}" name="RefaccionesPEP"  value="{{RefaccionesPEP}}" disabled >
                                </div>
                                    </div>
                                    <div class="row">
                                     <div class="col-md-3">
                                        <label>Articulo en Garantia</label>
                                          <a target="_blank" href="/servistar/garantia{{IdOrdenServicio}}" class="btn btn-info" style="color:white">Agregar refaccion en garantia</a>
                                    </div>
                                     <div class="col-md-4">
                                        <label>Agregar gastos fijos</label><br>
                                        <a target="_blank" href="/servistar/gastos_fijos{{IdOrdenServicio}}" class="btn btn-info" style="color:white">Agregar gastos fijos</a>
                                    </div>
                                    </div>
                                     <div class="row">
                                <div class="col-md-4">
                                    <label>Comision a Tecnico</label>
                                    <input type="text" class="form-control text-dark m-1" value="{{Comisi}}" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label>Total de Gastos</label>
                                    <input type="text" class="form-control text-dark m-1"  value="{{Tot}}" readonly >
                                </div>
                                <div class="col-md-4">
                                    <label>Utilidad</label>
                                    <input type="text" class="form-control text-dark m-1"  value="{{Utili}}" readonly >
                                </div>
                                </div>
                                    <br>
                                    <div class="form-group" >
                                        <button class="btn btn-info btn-block mx-1 " id="{{IdOrdenServicio}}BTN" style="display: none;" title="Enviar">
                                            <i class="fas fa-check" style="color: white;"></i>
                                        </button>
                                    </div>
                                </form>
                        {{/each}}
                        <br>
                        <br>
                        {{#each orden}}

                        <form action="/agregar_garantia" method="post" style="margin-left: 96%; display:none" id="btnGG{{IdOrdenServicio}}">
                               
                                <div class="form-group" style="display: none;">
                                <input type="date" name="FechaGarantia" id="qg{{IdOrdenServicio}}"  value="2021-12-31"
                                    style="display:none" class="form-control text-dark m-1">
                                <input type="number" name="IdOrdenServicio"  value="{{IdOrdenServicio}}"
                                    style="display:none" class="form-control text-dark m-1">
                                <input type="text" name="IdCliente"  value="{{IdCliente}}"
                                    style="display:none" class="form-control text-dark m-1">
                            </div>
                                     <button class="btn btn-info" style="display: none;" id="btng{{IdOrdenServicio}}" title="ACTIVAR GARANTIA" ><i style="color: white;" class="fas fa-exclamation-triangle"></i></button>
                                     <button class="btn btn-info" style="display: none;" id="btngq{{IdOrdenServicio}}" title="DESACTIVAR GARANTIA" ><i style="color: white;" class="fas fa-exclamation-triangle"></i></button>


                            </form>

                        {{/each}}

                    </div>
                </div>
            </div>
            </section>
        </div>
    </div>
</div>



<script>
    
    const busqueda = document.getElementById("busqueda")
   
    let arrayE = []
    let array = []
    let arrayC = []
    let gas = []
    let ser = []
    let ref = []
    let gara = []
    let garaa = []

      {{#each gas}}
   {{#each this}}  
    gas.push({
        IdReferencia: "{{IdReferencia}}",
        IdGastoFijo:"{{IdGastoFijo}}",
        IdOrdenServicio:"{{IdOrdenServicio}}",
        Descripcion:"{{Descripcion}}"
    })
    {{/each}}
    {{/each}}

      {{#each ser}}
   {{#each this}}  
    ser.push({
        IdReferencia: "{{IdReferencia}}",
        IdServicio:"{{IdServicio}}",
        IdOrdenServicio:"{{IdOrdenServicio}}",
        Descripcion:"{{Descripcion}}"
    })
    {{/each}}
    {{/each}}

      {{#each garaa}}
   {{#each this}}  
    garaa.push({
        IdReferencia: "{{IdReferencia}}",
        IdServicio:"{{IdServicio}}",
        IdOrdenServicio:"{{IdOrdenServicio}}",
        Descripcion:"{{Descripcion}}"
    })
    {{/each}}
    {{/each}}

      {{#each ref}}
   {{#each this}}  
    ref.push({
        IdReferencia: "{{IdReferencia}}",
        IdRefaccion:"{{IdRefaccion}}",
        IdOrdenServicio:"{{IdOrdenServicio}}",
        Descripcion:"{{Descripcion}}"
    })
    {{/each}}
    {{/each}}

      {{#each gara}}
   {{#each this}}  
    gara.push({
        IdReferencia: "{{IdReferencia}}",
        IdRefaccion:"{{IdRefaccion}}",
        IdOrdenServicio:"{{IdOrdenServicio}}",
        Descripcion:"{{Descripcion}}"
    })
    {{/each}}
    {{/each}}


      {{#each cliente}}
    arrayC.push({
        IdCliente: "{{IdCliente}}",
        Nombre:"{{Nombre}}",
        Vetado:"{{Vetado}}"
    })
    {{/each}}

    let a = 1
    {{#each equipo}}
    arrayE.push({
        IdCliente: "{{IdCliente}}",
        IdEquipo: "{{IdEquipo}}",
        Categoria: "{{Categoria}}",
        Tipo: "{{Tipo}}",
        Marca: "{{Marca}}",
        Color: "{{Color}}",
        Modelo: "{{Modelo}}",
        Serie:"{{Serie}}",
        LugarS: a
    })
    a++
    {{/each}}
    {{#each orden}}
    array.push({
        Id:"{{IdOrdenServicio}}",
        Realizado:"{{Realizado}}",
        Garantia:"{{moment FechaGarantia}}",
        IdEquipo:"{{IdEquipo}}",
        EstadoServicio:"{{EstadoServicio}}"
    })
    {{/each}}

    if(arrayC[0].Vetado==1){
        document.getElementById("tit").innerText="Cliente Vetado"
        document.getElementById("vec1").innerText="Quitar Veto"
    }
        
  


            function editar_registro(id){
                document.getElementById("FechaSolicitud"+id).disabled=false
                document.getElementById("HoraLLamda"+id).disabled=false
                document.getElementById("MedioDeInformacion"+id).disabled=false
                document.getElementById("Falla"+id).disabled=false
                document.getElementById("HoraVisita"+id).disabled=false
                document.getElementById("FechaVisita"+id).disabled=false
               // document.getElementById("VisitaRealizada"+id).disabled=false
                document.getElementById("HoraVisitaReal"+id).disabled=false
                document.getElementById("TipoTrabajo"+id).disabled=false
                //document.getElementById("Reparaciones"+id).disabled=false
              //  document.getElementById("IdTecnico"+id).disabled=false
               // document.getElementById("IdAyudante"+id).disabled=false
               // document.getElementById("IdTecnicoSegui"+id).disabled=false
                //document.getElementById("IdAyudanteSegui"+id).disabled=false
                document.getElementById("Diagnostico"+id).disabled=false
                document.getElementById("Descripcion"+id).disabled=false
                //document.getElementById("Presupuesto"+id).disabled=false
                document.getElementById("CostoServicio"+id).disabled=false
                document.getElementById("AceptarPresupuesto"+id).disabled=false
                document.getElementById("FechaTerminadoEstimado"+id).disabled=false
                document.getElementById("LugarReparacion"+id).disabled=false
                document.getElementById("EstadoServicio"+id).disabled=false
                document.getElementById("FechaTerminado"+id).disabled=false
                document.getElementById("FechaEntrega"+id).disabled=false
                document.getElementById("VigenciaGarantia"+id).disabled=false
                document.getElementById("Dolares"+id).disabled=false
                document.getElementById("RefaccionesGastoFijo"+id).disabled=false
                document.getElementById("RefaccionesPEP"+id).disabled=false
               // document.getElementById("FechaVencimiento"+id).disabled=false
                //document.getElementById("DiasVencimiento"+id).disabled=false
                document.getElementById(id+"BTN").style.display="block"
                document.getElementById("btn"+id).style.display="none"

            }

            function SelE(selecE) {
                    for (index = 0; index < arrayE.length; index++) {
                        if (selecE == arrayE[index].LugarS) {
                            document.getElementById("IdCliente").value = arrayE[index].IdCliente
                            document.getElementById("IdClienterr").value = arrayE[index].IdCliente
                            document.getElementById("IdEquipo").value = arrayE[index].IdEquipo
                            document.getElementById("Categoria").value = arrayE[index].Categoria
                            document.getElementById("Tipo").value = arrayE[index].Tipo
                            document.getElementById("Marca").value = arrayE[index].Marca
                            document.getElementById("Color").value = arrayE[index].Color
                            document.getElementById("Modelo").value = arrayE[index].Modelo
                            document.getElementById("Serie").value = arrayE[index].Serie
                            document.getElementById("Agregar").style.display = "block"
                            document.getElementById("agregare").style.display = "block"
                            document.getElementById("btneditare").style.display = "block"


                        }
                    }
                }

            function Agregar() {
                document.getElementById("agregare").style.display = "block"
                document.getElementById("btnadd").style.display = "none"
                document.getElementById("IdEquipo").value = arrayE.length + 1
                document.getElementById("IdEquiporr").value = arrayE.length + 1
                document.getElementById("Categoria").disabled = false
                document.getElementById("Categoria").value = ""
                document.getElementById("Tipo").disabled = false
                document.getElementById("Tipo").value = ""
                document.getElementById("Marca").disabled = false
                document.getElementById("Marca").value = ""
                document.getElementById("Color").disabled = false
                document.getElementById("Color").value = ""
                document.getElementById("Modelo").disabled = false
                document.getElementById("Modelo").value = ""
                document.getElementById("Serie").disabled = false
                document.getElementById("Serie").value = ""
                document.getElementById("btnagr").style.display = "block"
                document.getElementById("busE").style.display = "none"
                document.getElementById("btneditare").style.display = "none"
            }

            function tipo(op) {

                if (op == "E") {

                    if (document.getElementById("CategoriaE").selectedIndex == 1) {

                        document.getElementById("ref1E").style.display = "none"
                        document.getElementById("ref2E").style.display = "none"
                        document.getElementById("ref3E").style.display = "none"
                        document.getElementById("ref4E").style.display = "none"
                        document.getElementById("ref5E").style.display = "none"
                        document.getElementById("ref6E").style.display = "none"
                        document.getElementById("ref7E").style.display = "none"
                        document.getElementById("ref8E").style.display = "none"

                        document.getElementById("lav1E").style.display = "block"
                        document.getElementById("lav2E").style.display = "block"
                        document.getElementById("lav3E").style.display = "block"

                        document.getElementById("mic1E").style.display = "none"
                        document.getElementById("mic2E").style.display = "none"
                        document.getElementById("mic3E").style.display = "none"
                        document.getElementById("mic4E").style.display = "none"
                        document.getElementById("mic5E").style.display = "none"
                        document.getElementById("mic6E").style.display = "none"
                        document.getElementById("mic7E").style.display = "none"
                        document.getElementById("mic8E").style.display = "none"
                        document.getElementById("mic9E").style.display = "none"
                        document.getElementById("mic10E").style.display = "none"
                        document.getElementById("mic11E").style.display = "none"
                        document.getElementById("mic12E").style.display = "none"
                        document.getElementById("mic13E").style.display = "none"
                        document.getElementById("mic14E").style.display = "none"
                        document.getElementById("mic15E").style.display = "none"
                        document.getElementById("mic16E").style.display = "none"

                    } else if (document.getElementById("CategoriaE").selectedIndex == 2) {

                        document.getElementById("ref1E").style.display = "block"
                        document.getElementById("ref2E").style.display = "block"
                        document.getElementById("ref3E").style.display = "block"
                        document.getElementById("ref4E").style.display = "block"
                        document.getElementById("ref5E").style.display = "block"
                        document.getElementById("ref6E").style.display = "block"
                        document.getElementById("ref7E").style.display = "block"
                        document.getElementById("ref8E").style.display = "block"

                        document.getElementById("lav1E").style.display = "none"
                        document.getElementById("lav2E").style.display = "none"
                        document.getElementById("lav3E").style.display = "none"

                        document.getElementById("mic1E").style.display = "none"
                        document.getElementById("mic2E").style.display = "none"
                        document.getElementById("mic3E").style.display = "none"
                        document.getElementById("mic4E").style.display = "none"
                        document.getElementById("mic5E").style.display = "none"
                        document.getElementById("mic6E").style.display = "none"
                        document.getElementById("mic7E").style.display = "none"
                        document.getElementById("mic8E").style.display = "none"
                        document.getElementById("mic9E").style.display = "none"
                        document.getElementById("mic10E").style.display = "none"
                        document.getElementById("mic11E").style.display = "none"
                        document.getElementById("mic12E").style.display = "none"
                        document.getElementById("mic13E").style.display = "none"
                        document.getElementById("mic14E").style.display = "none"
                        document.getElementById("mic15E").style.display = "none"
                        document.getElementById("mic16E").style.display = "none"

                    } else if (document.getElementById("CategoriaE").selectedIndex == 3) {
                        document.getElementById("ref1E").style.display = "none"
                        document.getElementById("ref2E").style.display = "none"
                        document.getElementById("ref3E").style.display = "none"
                        document.getElementById("ref4E").style.display = "none"
                        document.getElementById("ref5E").style.display = "none"
                        document.getElementById("ref6E").style.display = "none"
                        document.getElementById("ref7E").style.display = "none"
                        document.getElementById("ref8E").style.display = "none"

                        document.getElementById("lav1E").style.display = "none"
                        document.getElementById("lav2E").style.display = "none"
                        document.getElementById("lav3E").style.display = "none"

                        document.getElementById("mic1E").style.display = "block"
                        document.getElementById("mic2E").style.display = "block"
                        document.getElementById("mic3E").style.display = "block"
                        document.getElementById("mic4E").style.display = "block"
                        document.getElementById("mic5E").style.display = "block"
                        document.getElementById("mic6E").style.display = "block"
                        document.getElementById("mic7E").style.display = "block"
                        document.getElementById("mic8E").style.display = "block"
                        document.getElementById("mic9E").style.display = "block"
                        document.getElementById("mic10E").style.display = "block"
                        document.getElementById("mic11E").style.display = "block"
                        document.getElementById("mic12E").style.display = "block"
                        document.getElementById("mic13E").style.display = "block"
                        document.getElementById("mic14E").style.display = "block"
                        document.getElementById("mic15E").style.display = "block"
                        document.getElementById("mic16E").style.display = "block"
                    }

                } else {
                    if (document.getElementById("Categoria").selectedIndex == 1) {

                        document.getElementById("ref1").style.display = "none"
                        document.getElementById("ref2").style.display = "none"
                        document.getElementById("ref3").style.display = "none"
                        document.getElementById("ref4").style.display = "none"
                        document.getElementById("ref5").style.display = "none"
                        document.getElementById("ref6").style.display = "none"
                        document.getElementById("ref7").style.display = "none"
                        document.getElementById("ref8").style.display = "none"

                        document.getElementById("lav1").style.display = "block"
                        document.getElementById("lav2").style.display = "block"
                        document.getElementById("lav3").style.display = "block"

                        document.getElementById("mic1").style.display = "none"
                        document.getElementById("mic2").style.display = "none"
                        document.getElementById("mic3").style.display = "none"
                        document.getElementById("mic4").style.display = "none"
                        document.getElementById("mic5").style.display = "none"
                        document.getElementById("mic6").style.display = "none"
                        document.getElementById("mic7").style.display = "none"
                        document.getElementById("mic8").style.display = "none"
                        document.getElementById("mic9").style.display = "none"
                        document.getElementById("mic10").style.display = "none"
                        document.getElementById("mic11").style.display = "none"
                        document.getElementById("mic12").style.display = "none"
                        document.getElementById("mic13").style.display = "none"
                        document.getElementById("mic14").style.display = "none"
                        document.getElementById("mic15").style.display = "none"
                        document.getElementById("mic16").style.display = "none"

                    } else if (document.getElementById("Categoria").selectedIndex == 2) {

                        document.getElementById("ref1").style.display = "block"
                        document.getElementById("ref2").style.display = "block"
                        document.getElementById("ref3").style.display = "block"
                        document.getElementById("ref4").style.display = "block"
                        document.getElementById("ref5").style.display = "block"
                        document.getElementById("ref6").style.display = "block"
                        document.getElementById("ref7").style.display = "block"
                        document.getElementById("ref8").style.display = "block"

                        document.getElementById("lav1").style.display = "none"
                        document.getElementById("lav2").style.display = "none"
                        document.getElementById("lav3").style.display = "none"

                        document.getElementById("mic1").style.display = "none"
                        document.getElementById("mic2").style.display = "none"
                        document.getElementById("mic3").style.display = "none"
                        document.getElementById("mic4").style.display = "none"
                        document.getElementById("mic5").style.display = "none"
                        document.getElementById("mic6").style.display = "none"
                        document.getElementById("mic7").style.display = "none"
                        document.getElementById("mic8").style.display = "none"
                        document.getElementById("mic9").style.display = "none"
                        document.getElementById("mic10").style.display = "none"
                        document.getElementById("mic11").style.display = "none"
                        document.getElementById("mic12").style.display = "none"
                        document.getElementById("mic13").style.display = "none"
                        document.getElementById("mic14").style.display = "none"
                        document.getElementById("mic15").style.display = "none"
                        document.getElementById("mic16").style.display = "none"

                    } else if (document.getElementById("Categoria").selectedIndex == 3) {
                        document.getElementById("ref1").style.display = "none"
                        document.getElementById("ref2").style.display = "none"
                        document.getElementById("ref3").style.display = "none"
                        document.getElementById("ref4").style.display = "none"
                        document.getElementById("ref5").style.display = "none"
                        document.getElementById("ref6").style.display = "none"
                        document.getElementById("ref7").style.display = "none"
                        document.getElementById("ref8").style.display = "none"

                        document.getElementById("lav1").style.display = "none"
                        document.getElementById("lav2").style.display = "none"
                        document.getElementById("lav3").style.display = "none"

                        document.getElementById("mic1").style.display = "block"
                        document.getElementById("mic2").style.display = "block"
                        document.getElementById("mic3").style.display = "block"
                        document.getElementById("mic4").style.display = "block"
                        document.getElementById("mic5").style.display = "block"
                        document.getElementById("mic6").style.display = "block"
                        document.getElementById("mic7").style.display = "block"
                        document.getElementById("mic8").style.display = "block"
                        document.getElementById("mic9").style.display = "block"
                        document.getElementById("mic10").style.display = "block"
                        document.getElementById("mic11").style.display = "block"
                        document.getElementById("mic12").style.display = "block"
                        document.getElementById("mic13").style.display = "block"
                        document.getElementById("mic14").style.display = "block"
                        document.getElementById("mic15").style.display = "block"
                        document.getElementById("mic16").style.display = "block"
                    }


                }
            }

            function registro(id) {
                if (document.getElementById(id).style.display == "block") {
                    document.getElementById(id).style.display = "none"
                    document.getElementById("btn" + id).style.display = "none"
                    document.getElementById("registros").style.display = "block"
                    document.getElementById("btnGG"+id).style.display = "none"
                    return
                } else {
                    document.getElementById(id).style.display = "block"
                    document.getElementById("btn" + id).style.display = "block"
                    document.getElementById("registros").style.display = "none"
                    gastos(id)
                   //garantia(id)
                }
            }

            function gastos(id){
                let gastos=""
                for(let index=0;index<gas.length;index++){
                    if(gas[index].IdOrdenServicio==id){
                        gastos=gastos+gas[index].Descripcion+"\n"
                    }
                }
               document.getElementById("gastos"+id).textContent=gastos
               servicio(id)
            }

            function servicio(id){
                let servicio=""
                for(let index=0;index<ser.length;index++){
                    if(ser[index].IdOrdenServicio==id){
                        servicio=servicio+ser[index].Descripcion+"\n"
                    }
                }
               document.getElementById("servicio"+id).textContent=servicio
               refaccion(id)
            }

            function refaccion(id){
                let refaccion=""
                for(let index=0;index<ref.length;index++){
                    if(ref[index].IdOrdenServicio==id){
                        refaccion=refaccion+ref[index].Descripcion+"\n"
                    }
                }
               document.getElementById("refaccion"+id).textContent=refaccion
                refaccion_g(id)
            }

            function refaccion_g(id){
                let refaccion=""
                for(let index=0;index<gara.length;index++){
                    if(gara[index].IdOrdenServicio==id){
                        refaccion=refaccion+gara[index].Descripcion+"\n"
                    }
                }
               document.getElementById("refaccion_g"+id).textContent=refaccion
                servicio_g(id)
            }

            function servicio_g(id){
                let servicio=""
                for(let index=0;index<garaa.length;index++){
                    if(garaa[index].IdOrdenServicio==id){
                        servicio=servicio+garaa[index].Descripcion+"\n"
                    }
                }
               document.getElementById("servicio_g"+id).textContent=servicio

            }

            function editarc() {
                document.getElementById("nombre").disabled = false
                document.getElementById("colonia").disabled = false
                document.getElementById("calle").disabled = false
                document.getElementById("numero").disabled = false
                document.getElementById("entre").disabled = false
                document.getElementById("telefono").disabled = false
                document.getElementById("rfc").disabled = false
                document.getElementById("municipio").disabled = false
                document.getElementById("cp").disabled = false
                document.getElementById("btneditarc").style.display = "none"
                document.getElementById("btnaddc").style.display = "block"
                document.getElementById("vec0").style.display = "none"
                document.getElementById("vec").style.display = "block"
            }

            function editare() {
                document.getElementById("agregare").style.display = "none"
                document.getElementById("editare").style.display = "block"
                document.getElementById("btneditare").style.display = "none"
                document.getElementById("IdEquipoE").value = document.getElementById("IdEquipo").value
                document.getElementById("IdEquiporrE").value = document.getElementById("IdEquipo").value
                document.getElementById("CategoriaE").value = document.getElementById("Categoria").value
                document.getElementById("TipoE").value = document.getElementById("Tipo").value
                document.getElementById("MarcaE").value = document.getElementById("Marca").value
                document.getElementById("ColorE").value = document.getElementById("Color").value
                document.getElementById("ModeloE").value = document.getElementById("Modelo").value
                document.getElementById("SerieE").value = document.getElementById("Serie").value
                document.getElementById("btnagrE").style.display = "block"
                document.getElementById("CategoriaE").disabled = false
                document.getElementById("TipoE").disabled = false
                document.getElementById("MarcaE").disabled = false
                document.getElementById("ColorE").disabled = false
                document.getElementById("ModeloE").disabled = false
                document.getElementById("SerieE").disabled = false
            }

            function editarr(id){
                if (document.getElementById("Realizado"+id).value=="No"){
                    document.getElementById("Extra"+id).style.display = "none"
                    document.getElementById("Realizado"+id).selectedIndex=2

                }else if(document.getElementById("Realizado"+id).value=="Si"){
                    document.getElementById("Extra"+id).style.display = "none"
                    document.getElementById("Realizado"+id).selectedIndex=1

                }else if(document.getElementById("Realizado"+id).value=="En Proceso"){
                    document.getElementById("Extra"+id).style.display = "none"
                    document.getElementById("Realizado"+id).selectedIndex=4

                } else {
                    document.getElementById("Extra"+id).style.display = "none"
                    document.getElementById("Realizado"+id).selectedIndex=3

                }
                




                if (document.getElementById("MedioDeInformacion"+id).value=="tarjeta"){
                    document.getElementById("Extra2"+id).style.display = "none"
                    document.getElementById("MedioDeInformacion"+id).selectedIndex=1

                }else if(document.getElementById("MedioDeInformacion"+id).value=="revista/anuncio"){
                    document.getElementById("Extra2"+id).style.display = "none"
                    document.getElementById("MedioDeInformacion"+id).selectedIndex=2

                }else  if(document.getElementById("MedioDeInformacion"+id).value=="cliente"){
                    document.getElementById("Extra2"+id).style.display = "none"
                    document.getElementById("MedioDeInformacion"+id).selectedIndex=3

                }else  if(document.getElementById("MedioDeInformacion"+id).value=="recomendacion"){
                    document.getElementById("Extra2"+id).style.display = "none"
                    document.getElementById("MedioDeInformacion"+id).selectedIndex=4
                }
                

                document.getElementById("Falla"+id).disabled = false
                document.getElementById("FechaSolicitud"+id).disabled = false
                document.getElementById("FechaVisita"+id).disabled = false
                document.getElementById("Realizado"+id).disabled = false
                document.getElementById("FechaRealizacion"+id).disabled = false
                document.getElementById("Observaciones"+id).disabled = false
                document.getElementById("Presupuesto"+id).disabled = false
                document.getElementById("CostoServicio"+id).disabled = false
                document.getElementById("Hora"+id).disabled = false 
                document.getElementById("IdTecnico"+id).disabled = false
                document.getElementById("MedioDeInformacion"+id).disabled = false

                document.getElementById("btn"+id).style.display = "none"
                document.getElementById("btnenv"+id).style.display = "block"
            }

            function garantia(id){


                for(let index=0; index<array.length; index++){

                    if(array[index].Id==id ){
                        console.log(array[index].Id,id,array[index].Realizado,array[index].Garantia)
                        if(array[index].Garantia !="2021-12-31" & array[index].Realizado=="Si"){
                            document.getElementById("btngq"+id).style.display = "none"
                            document.getElementById("btng"+id).style.display = "block"
                            document.getElementById("btnGG"+id).style.display = "block"
                            
                            return

                        }else if(array[index].Garantia =="2021-12-31" & array[index].Realizado=="Si"){
                            document.getElementById("btngq"+id).style.display = "block"
                            document.getElementById("btnGG"+id).style.display = "block"
                            document.getElementById("btng"+id).style.display = "none"
                            document.getElementById("qg"+id).value="0000-00-00"
                            console.log(document.getElementById("qg"+id).value)
                            return

                        }
                    }
                }
            }

            function Equipo(){
                let e
                let nombre = document.getElementById("nombre").value
                for(let inde=0;inde<array.length;inde++){
                    for(let index=0;index<arrayE.length;index++){
                        if(array[inde].IdEquipo==arrayE[index].IdEquipo){
                            e=arrayE[index].Tipo+" "+arrayE[index].Marca
                            document.getElementById("IdEquipo"+array[inde].Id).value=e
                            document.getElementById("IdCliente"+array[inde].Id).value=nombre
                        }
                    }
                }
            } 
            Equipo()  

            function marca(){
                for(index=0;index<array.length;index++){
                    if(array[index].Garantia=="2021-12-31"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Garantia"
                        document.getElementById("p"+array[index].Id).style.color="#c17ba0"
                    }else if(array[index].Garantia=="2021-12-30"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Queja del cliente"
                        document.getElementById("p"+array[index].Id).style.color="#b7b7b7"
                    }else if(array[index].Garantia=="2021-12-29"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Garantia de la Marca"
                        document.getElementById("p"+array[index].Id).style.color="#773f04"
                    }else if(array[index].EstadoServicio=="En Ejecucion"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" En Ejecucion"
                        document.getElementById("p"+array[index].Id).style.color="#d0d015"
                    }else if(array[index].EstadoServicio=="Para Entregar"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Para Entregar"
                        document.getElementById("p"+array[index].Id).style.color="green"
                    }else if(array[index].EstadoServicio=="Esperando"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Esperando"
                        document.getElementById("p"+array[index].Id).style.color="#fe9900"
                    }else if(array[index].EstadoServicio=="Esperando Refacciones"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Esperando Refacciones"
                        document.getElementById("p"+array[index].Id).style.color="#9900ff"
                    }else if(array[index].EstadoServicio=="Sin Reparacion"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Sin Reparacion"
                        document.getElementById("p"+array[index].Id).style.color="#00ff01"
                    }else if(array[index].EstadoServicio=="Pendiente de Visita"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Pendiente de Visita"
                        document.getElementById("p"+array[index].Id).style.color="#00ff01"
                    }else if(array[index].EstadoServicio=="No Aceptado"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" No Aceptado"
                        document.getElementById("p"+array[index].Id).style.color="#fe0001"
                    }else if(array[index].EstadoServicio=="Terminado"){
                        document.getElementById("p"+array[index].Id).innerText=document.getElementById("p"+array[index].Id).innerText+" Terminado"
                        document.getElementById("p"+array[index].Id).style.color="#4a86e8"
                    } 
                }
            }
            marca()

            function garra1(){
                for(let index=0; index<array.length;index++){
                    if(array[index].Realizado=="Si"){
                    }else{
                        document.getElementById("garra"+array[index].Id).style.display="none"

                    }
                }
            }
            garra1()

            function ocuC(){
                let doc = document.getElementById("ocuC").style.display
                if(doc=="block"){
                    document.getElementById("ocuC").style.display="none"
                }else{
                    document.getElementById("ocuC").style.display="block"
                }
            }

            function ocuE(){
                let doc = document.getElementById("ocuE").style.display
                if(doc=="block"){
                    document.getElementById("ocuE").style.display="none"
                }else{
                    document.getElementById("ocuE").style.display="block"
                }
            }
            function ocuR(){
                let doc = document.getElementById("ocuR").style.display
                if(doc=="block"){
                    document.getElementById("ocuR").style.display="none"
                }else{
                    document.getElementById("ocuR").style.display="block"
                }
            }
</script>