<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/servicios_pendientes" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
         <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-calendar-alt fa-2x"></i><br>Calendario</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/calendario_tec">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/calendario_ayu">Ayudantes</a>

        </div>
      </li>
        
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: white;" ><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: #b5b5b5;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="/servistar/tecnicos">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/refacciones">Refacciones</a>
          <a class="dropdown-item" href="/servistar/gastos_fijos">Gastos Fijos</a>
          <a style="display: none;" class="dropdown-item" href="/servistar/servicios">Descripcion <br> del trabajo</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #5b5378;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Gastos Fijos</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Buscar</h1>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input  id="busquedaNO" type="text"
                                            class="form-control" placeholder="Descripcion">
                                        <span class="input-group-addon"></span>
                                    </div>
                                </div>
                                <div class="form-group px-2">
                                    <table class="table table-bordered table-hover" id="tblmas">
                                        <thead id="tblh" style="display:none">
                                            <tr role="row">
                                                <th>Descripcion</th>
                                                <th>Costo de Venta</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbody">
                                            {{#each gasto}}
                                            <tr id="{{IdGastoFijo}}" style="display:none">
                                                <td><a href="/servistar/ver_gasto{{IdGastoFijo}}/"
                                                        class="link-primary">{{Descripcion}}</a> </td>
                                                <td>{{CostoVenta}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group pu-5">
                                    <button style="display:none" id="lib" class="btn btn-success">
                                        <a href="" id="link" class="btn btn-success"></a></button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Agrega</h1>
                                <button class="btn btn-info size-2" onclick=Agregar() id="btnadd" title="AGREGAR">
                                    <i style="color: white;" class="fas fa-plus"></i>
                                </button>
                                <form action="/agregar_gasto" method="POST" style="display:none" id="form">
                                <div class="row">
                                <div class="col-md-9">
                                    <label>Descripcion</label>
                                    <input type="text"  name="Descripcion" class="form-control text-dark m-1" 
                                         required>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <label>Costo de Venta</label>
                                    <input type="number" name="CostoVenta" class="form-control text-dark m-1"
                                         required>
                                </div>
                                </div>
                                <button class="btn btn-info size-2" title="GUARDAR"> <i style="color: white;" class="fas fa-check"></i></button>

                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const busquedaNO = document.getElementById("busquedaNO")


    let array = []
    {{#each gasto }}
    array.push({
        IdGastoFijo: "{{IdGastoFijo}}",
        Descripcion: "{{Descripcion}}"
    })
    {{/each}}

            function buscarNO() {
                const texto = busquedaNO.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].IdGastoFijo).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let Descripcion = array[index].Descripcion.toLowerCase()
                    if (Descripcion.indexOf(texto) !== -1) {
                        document.getElementById(array[index].IdGastoFijo).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].IdGastoFijo).style.display = "none"
                    }
                }

            }
            busquedaNO.addEventListener("keyup", buscarNO)
            busquedaNO.addEventListener("keydown", buscarNO)


            function Agregar() {
                document.getElementById("btnadd").style.display = "none"
                document.getElementById("form").style.display = "block"

            }

</script>