<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/servicios_pendientes" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
         <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-calendar-alt fa-2x"></i><br>Calendario</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/calendario_tec">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/calendario_ayu">Ayudantes</a>

        </div>
      </li>
        
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: white;" ><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: #b5b5b5;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="/servistar/tecnicos">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/refacciones">Refacciones</a>
          <a class="dropdown-item" href="/servistar/gastos_fijos">Gastos Fijos</a>
          <a style="display: none;" class="dropdown-item" href="/servistar/servicios">Descripcion <br> del trabajo</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #5b5378;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">EDITAR Refaccion</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                {{#each Servicio}}
                                 <form action="/edit_servicio" method="POST">
                                    <input type="text" value="{{IdServicio}}" name="IdServicio" style="display: none;" class="form-control text-dark m-1" 
                                         >
                                <div class="row">
                                <div class="col-md-9">
                                    <label>Descripcion</label>
                                    <input type="text" value="{{Descripcion}}" name="Descripcion" class="form-control text-dark m-1" 
                                         required>
                                </div>
                                <div class="col-md-3">
                                    <label>Horas de trabajo</label>
                                    <input type="number" value="{{Horas}}" name="Horas" class="form-control text-dark m-1"
                                         required>
                                </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <label>Equipo</label>
                                          <select name="Equipo" class="form-select text-dark m-1 " required>
                                        <option value="{{Equipo}}">{{Equipo}}</option>
                                        <option id="lav1"  value="LAVADORA">LAVADORA</option>
                                        <option id="lav2"  value="SECADORA">SECADORA</option>
                                        <option id="ref1"  value="REFRIGERADOR">REFRIGERADOR
                                        </option>
                                        <option id="ref2"  value="ENFRIADOR DE AGUA">ENFRIADOR DE
                                            AGUA</option>
                                        <option id="ref3"  value="CONGELADOR">CONGELADOR</option>
                                        <option id="ref4"  value="ENFRIADOR DE BOTELLAS">ENFRIADOR DE BOTELLAS</option>
                                        <option id="ref5"  value="REFRIGERADOR CON DESPACHADOR">REFRIGERADOR CON DESPACHADOR</option>
                                        <option id="ref6"  value="REFRIGERADOR SIN DESPACHADOR">REFRIGERADOR SIN DESPACHADOR</option>
                                        <option id="ref7"  value="REFRIGERADOR PANELABLE CAFETERA">REFRIGERADOR PANELABLE CAFETERA</option>
                                        <option id="ref8"  value="SERVIBAR">SERVIBAR</option>
                                        <option id="mic1"  value="ESTUFAS 120 -150 CM">ESTUFAS 120 -150 CM</option>
                                        <option id="mic2"  value="ESTUFA 90CM ">ESTUFA 90CM </option>
                                        <option id="mic3"  value="HORNO DOBLE">HORNO DOBLE</option>
                                        <option id="mic4"  value="HORNO 60 70 90 CM Y 30">HORNO 60 70 90 CM Y 30</option>
                                        <option id="mic5"  value="HORNO COMPACTO">HORNO COMPACTO</option>
                                        <option id="mic6"  value="PARRILLA ELÉCTRICA DE INDUCCIÓN 60 90 CM  Y 30 ">PARRILLA ELÉCTRICA DE INDUCCIÓN 60 90 CM  Y 30</option>
                                        <option id="mic7"  value="DOMINÓ ELÉCTRICO ,INDUCCIÓN Y GAS">DOMINÓ ELÉCTRICO ,INDUCCIÓN Y GAS </option>
                                        <option id="mic8"  value="CAVA DE VINOS 82CM CAVA DE VINO 60 Y 45 CM">CAVA DE VINOS 82CM CAVA DE VINO 60 Y 45 CM</option>
                                        <option id="mic9"  value="PARRILLA DE GAS">PARRILLA DE GAS</option>
                                        <option id="mic10"  value="LAVAVAJILLAS">LAVAVAJILLAS</option>
                                        <option id="mic11"  value="CAMPANA DE ISLA">CAMPANA DE ISLA</option>
                                        <option id="mic12"  value="CAMPANA DE INTEGRACIÓN CAMPANA DE PARED 120 -150 CM ">CAMPANA DE INTEGRACIÓN CAMPANA DE PARED 120 -150 CM </option>
                                        <option id="mic13"  value="CAMPANA DE PARED">CAMPANA DE PARED</option>
                                        <option id="mic14"  value="CAMPANA TELESCÓPICA Y BAJO ALACENA">CAMPANA TELESCÓPICA Y BAJO ALACENA</option>
                                        <option id="mic15"  value="CAJONES TÉRMICOS">CAJONES TÉRMICOS</option>
                                        <option id="mic16"  value="ASADORES  Y COCINAS EXTERIOR">ASADORES  Y COCINAS EXTERIOR</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                <label>Marca</label>
                                        <select name="Marca" id="Marca" class="form-select text-dark m-1 " required>
                                        <option value="{{Marca}}">{{Marca}}</option>
                                        <option value="Sin Marca">Sin Marca</option>
                                        <option value="Amana">Amana</option>
                                        <option value="Maytag">Maytag</option>
                                        <option value="Magic Chef">Magic Chef</option>
                                        <option value="Gibson">Gibson</option>
                                        <option value="Mabe">Mabe</option>
                                        <option value="Hotpoint">Hotpoint</option>
                                        <option value="Teka">Teka</option>
                                        <option value="Sub-Zero">Sub-Zero</option>
                                        <option value="Supermatic">Supermatic</option>
                                        <option value="Wolf">Wolf</option>
                                        <option value="Samsung">Samsung</option>
                                        <option value="Whirlpool">Whirlpool</option>
                                        <option value="Easy">Easy</option>
                                        <option value="Kenmore">Kenmore</option>
                                        <option value="Roper">Roper</option>
                                        <option value="Kelvinator">Kelvinator</option>
                                        <option value="Speed Queen">Speed Queen</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Costo del Servicio</label>
                                    <input type="number" value="{{CostoServicio}}" name="CostoServicio" class="form-control text-dark m-1"
                                         required>
                                </div>
                                </div>
                                <button class="btn btn-info size-2" title="GUARDAR"> <i style="color: white;" class="fas fa-check"></i></button>

                                
                            </form>
                            {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
