<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: #b5b5b5;" href="/servistar/servicios_pendientes" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
         <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-calendar-alt fa-2x"></i><br>Calendario</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/calendario_tec">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/calendario_ayu">Ayudantes</a>

        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: white;" ><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="/servistar/tecnicos">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/refacciones">Refacciones</a>
          <a class="dropdown-item" href="/servistar/gastos_fijos">Gastos Fijos</a>
          <a style="display: none;" class="dropdown-item" href="/servistar/servicios">Descripcion <br> del trabajo</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #5b5378;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-20 mx-auto">
      <strong>
        {{#if pa_ent}}
        <h3>Servicios listos para entregar <button onclick=ocu1() class="btn btn-info" ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu1" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white; ">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each pa_ent}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      </section>
      {{/if}}
       {{#if en_eje}}
      <br>
       <h3>Servicios En Ejecucion <button onclick=ocu2() class="btn btn-info"  ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
       <section id="ocu2" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each en_eje}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      </section>
      {{/if}}
       {{#if espe}}
      <br>
       <h3>Servicios en Espera <button onclick=ocu3() class="btn btn-info"  ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu3" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each espe}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      </section>
      {{/if}}
       {{#if espe_refa}}
      <br>
       <h3>Servicios esperando refacciones <button onclick=ocu4() class="btn btn-info"  ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu4" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each espe_refa}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      </section>
      {{/if}}
       {{#if sin_nada}}
      <br>
       <h3>Servicios Sin Reparacion <button onclick=ocu5() class="btn btn-info"  ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu5" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each sin_nada}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      </section>
      {{/if}}
       {{#if pen_visi}}
      <br>
       <h3>Servicios Pendientes de Visita <button onclick=ocu7() class="btn btn-info"  ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu7" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each pen_visi}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <br>
      </section>
      {{/if}}
       {{#if gara}}
      <br>
       <h3>Servicios en Garantia <button onclick=ocu6() class="btn btn-info"  ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu6" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each gara}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </section>
      {{/if}}

      </strong>
    </div>
  </div>
</div>


<script>

   function ocu1(){
                let doc = document.getElementById("ocu1").style.display
                if(doc=="block"){
                    document.getElementById("ocu1").style.display="none"
                }else{
                    document.getElementById("ocu1").style.display="block"
                }
            }
   function ocu2(){
                let doc = document.getElementById("ocu2").style.display
                if(doc=="block"){
                    document.getElementById("ocu2").style.display="none"
                }else{
                    document.getElementById("ocu2").style.display="block"
                }
            }
   function ocu3(){
                let doc = document.getElementById("ocu3").style.display
                if(doc=="block"){
                    document.getElementById("ocu3").style.display="none"
                }else{
                    document.getElementById("ocu3").style.display="block"
                }
            }
   function ocu4(){
                let doc = document.getElementById("ocu4").style.display
                if(doc=="block"){
                    document.getElementById("ocu4").style.display="none"
                }else{
                    document.getElementById("ocu4").style.display="block"
                }
            }
   function ocu5(){
                let doc = document.getElementById("ocu5").style.display
                if(doc=="block"){
                    document.getElementById("ocu5").style.display="none"
                }else{
                    document.getElementById("ocu5").style.display="block"
                }
            }
   function ocu6(){
                let doc = document.getElementById("ocu6").style.display
                if(doc=="block"){
                    document.getElementById("ocu6").style.display="none"
                }else{
                    document.getElementById("ocu6").style.display="block"
                }
            }
   function ocu7(){
                let doc = document.getElementById("ocu7").style.display
                if(doc=="block"){
                    document.getElementById("ocu7").style.display="none"
                }else{
                    document.getElementById("ocu7").style.display="block"
                }
            }

            

  let array = []
  let arrayD = []
  let clientep =[]
  {{#each pendientes}}
  array.push({
    IdOrdenServicio: "{{IdOrdenServicio}}",
    IdCliente: "{{IdCliente}}",
    FechaVisita: "{{moment FechaVisita}}",
    IdEquipo: "{{IdEquipo}}",
    Falla: "{{Falla}}",
    Hora: "{{Hora}}",
  })
  {{/each}}
  {{#each clientep}}
  clientep.push({
            IdOrden:"{{IdOrden}}",
            FechaRealizacion:"{{moment FechaRealizacion}}"
        })
  {{/each}}
  {{#each array}}
  arrayD.push({
    ahora:"{{ahora}}"
  })
  {{/each}}


      ordenes()

      function ordenes() {

        var hoy = new Date();
        let mes = (hoy.getMonth() + 1)
        if (mes < 10) {
          mes = "0" + mes
        }
        let dia = (hoy.getDate())
        if (dia < 10) {
          dia = "0" + dia
        }
        var fecha = hoy.getFullYear() + '-' + mes + '-' + dia

        for (index = 0; index < array.length; index++) {

          if (fecha == array[index].FechaVisita) {
            document.getElementById(array[index].IdOrdenServicio).style.color="blue"
            console.log(arrayD[index].ahora)
            if(arrayD[index].ahora=="si"){
              document.getElementById(array[index].IdOrdenServicio).style.color = "#008f39"

            }
          }
        }

        for(index = 0; index < clientep.length; index++){
             if (fecha == clientep[index].FechaRealizacion) {
            document.getElementById("p"+clientep[index].IdOrden).style.color="green"
             }
        }

      }



      function actualizar(){location.reload(true);}

setInterval("actualizar()",300000);
</script>