<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/servicios_pendientes" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: white;" ><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: #b5b5b5;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="/servistar/tecnicos">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/refacciones">Refacciones</a>
          <a class="dropdown-item" href="/servistar/gastos_fijos">Gastos Fijos</a>
          <a class="dropdown-item" href="/servistar/servicios">Descripcion <br> del trabajo</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #5b5378;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">EDITAR Refaccion</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                {{#each Servicio}}
                                 <form action="/edit_servicio" method="POST">
                                    <input type="text" value="{{IdServicio}}" name="IdServicio" style="display: none;" class="form-control text-dark m-1" 
                                         >
                                <div class="row">
                                <div class="col-md-9">
                                    <label>Descripcion</label>
                                    <input type="text" value="{{Descripcion}}" name="Descripcion" class="form-control text-dark m-1" 
                                         required>
                                </div>
                                <div class="col-md-3">
                                    <label>Horas de trabajo</label>
                                    <input type="number" value="{{Horas}}" name="Horas" class="form-control text-dark m-1"
                                         required>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <label>Costo del Servicio</label>
                                    <input type="number" value="{{CostoServicio}}" name="CostoServicio" class="form-control text-dark m-1"
                                         required>
                                </div>
                                </div>
                                <button class="btn btn-info size-2" title="GUARDAR"> <i style="color: white;" class="fas fa-check"></i></button>

                                
                            </form>
                            {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
