<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/servicios_pendientes_tecnico" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/calendario_tec_tec" ><center><i class="fas fa-calendar-alt fa-2x"></i><br>Calendario</a> </center>
        </li>
       
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-20 mx-auto">
      <strong>
        {{#if tecp}}
        <h3>Tecnico Principal <button onclick=ocu1() class="btn btn-info" ><i style="color: white; " class="fas fa-arrows-alt-v"></i></button></h3>
        <section id="ocu1" style="display: block;">
        <table class="table table-bordered table-hover" style="color: white;">
        <thead>
          <tr style="background-color: #5b5378; color: white;">
            <th>N°</th>
            <th>Cliente</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each tecp}}
          <tr id="p{{IdOrdenServicio}}" style="background-color: #c4c4c4; color:white;">
            <td>{{IdOrdenServicio}}</td>
            <td>{{Nombre}}</td>
            <td>{{DirCalle}} #{{DirNum}}</td>
            <td>{{DirColonia}}</td>
            <td>{{moment FechaVisita}}</td>
            <td>{{HoraVisita}}</td>
            <td><center><a  href="/servistar/ver_cliente_tec/{{IdCliente}}/" title="VER CLIENTE" class="mx-auto btn btn-info"><i style="color: white;" class="fas fa-user"></i></a></center>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
      <br>
      </section>
      <br>
      <br>
      </strong>
    </div>
  </div>
</div>


<script>

   function ocu1(){
                let doc = document.getElementById("ocu1").style.display
                if(doc=="block"){
                    document.getElementById("ocu1").style.display="none"
                }else{
                    document.getElementById("ocu1").style.display="block"
                }
            }
   function ocu2(){
                let doc = document.getElementById("ocu2").style.display
                if(doc=="block"){
                    document.getElementById("ocu2").style.display="none"
                }else{
                    document.getElementById("ocu2").style.display="block"
                }
            }
   function ocu3(){
                let doc = document.getElementById("ocu3").style.display
                if(doc=="block"){
                    document.getElementById("ocu3").style.display="none"
                }else{
                    document.getElementById("ocu3").style.display="block"
                }
            }
   function ocu4(){
                let doc = document.getElementById("ocu4").style.display
                if(doc=="block"){
                    document.getElementById("ocu4").style.display="none"
                }else{
                    document.getElementById("ocu4").style.display="block"
                }
            }
   function ocu5(){
                let doc = document.getElementById("ocu5").style.display
                if(doc=="block"){
                    document.getElementById("ocu5").style.display="none"
                }else{
                    document.getElementById("ocu5").style.display="block"
                }
            }
   function ocu6(){
                let doc = document.getElementById("ocu6").style.display
                if(doc=="block"){
                    document.getElementById("ocu6").style.display="none"
                }else{
                    document.getElementById("ocu6").style.display="block"
                }
            }

            

  let array = []
  let arrayD = []
  let clientep =[]
  {{#each pendientes}}
  array.push({
    IdOrdenServicio: "{{IdOrdenServicio}}",
    IdCliente: "{{IdCliente}}",
    FechaVisita: "{{moment FechaVisita}}",
    IdEquipo: "{{IdEquipo}}",
    Falla: "{{Falla}}",
    Hora: "{{Hora}}",
  })
  {{/each}}
  {{#each clientep}}
  clientep.push({
            IdOrden:"{{IdOrden}}",
            FechaRealizacion:"{{moment FechaRealizacion}}"
        })
  {{/each}}
  {{#each array}}
  arrayD.push({
    ahora:"{{ahora}}"
  })
  {{/each}}


      ordenes()

      function ordenes() {

        var hoy = new Date();
        let mes = (hoy.getMonth() + 1)
        if (mes < 10) {
          mes = "0" + mes
        }
        let dia = (hoy.getDate())
        if (dia < 10) {
          dia = "0" + dia
        }
        var fecha = hoy.getFullYear() + '-' + mes + '-' + dia

        for (index = 0; index < array.length; index++) {

          if (fecha == array[index].FechaVisita) {
            document.getElementById(array[index].IdOrdenServicio).style.color="blue"
            console.log(arrayD[index].ahora)
            if(arrayD[index].ahora=="si"){
              document.getElementById(array[index].IdOrdenServicio).style.color = "#008f39"

            }
          }
        }

        for(index = 0; index < clientep.length; index++){
             if (fecha == clientep[index].FechaRealizacion) {
            document.getElementById("p"+clientep[index].IdOrden).style.color="green"
             }
        }

      }



      function actualizar(){location.reload(true);}

setInterval("actualizar()",300000);
</script>