<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" href="/servistar/servicios_pendientes"> <center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        <li class="nav-item">
          <a style="color: blue;" id="h2" class="nav-link"  href="/servistar/clientes"><center><i class="fas fa-address-book fa-2x"></i><br>Clientes</a></center>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro"><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #f8f9fa;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #f8f9fa;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #f8f9fa;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #f8f9fa;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Notas</h1>
                    {{#if notas}}
                    <div class="card">
                        <div class="card-body" style="background-color:#d9d9d9;">
                            <h1 class="text-dark mb-3 h4">Ver</h1>
                            <div class="form-group px-2">
                                <table class="table table-bordered table-hover" id="tblmas">
                                    <thead id="tblh">
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Cantidad</th>
                                            <th>Descripcion</th>
                                            <th>Precio Unit</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblbody">
                                        
                                        {{#each notas}}
                                        <tr id="{{IdOrdenServicio}}">
                                            <th>{{IdNotas}}</th>
                                            <th>{{Cantidad}}</th>
                                            <th>{{Descripcion}}</th>
                                            <th>{{PrecioUnitario}}</th>
                                            <th>{{Importe}}</th>
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table>
                                {{#if aa}}
                                <button class="btn btn-info" title="GENERAR PDF">
                                <a href="/ver_pdf{{id}}/" target="_blank" ><i style="color: white;" class="far fa-file-pdf"></i></a>
                                </button>
                                {{/if}}
                                {{#each orden}}
                                <button class="btn btn-info" title="REGRESAR">
                                <a href="/servistar/ver_cliente{{IdCliente}}/" ><i style="color: white;" class="fas fa-chevron-left"></i></a>
                                </button>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    function agregar() {
        document.getElementById("btna").style.display = "none"
        document.getElementById("forma").style.display = "block"
    }
</script>