<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5b5378;" >
  <div class="container-fluid" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" style="color: white;" href="/servistar/servicios_pendientes" ><center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/servistar/agregar_registro" style="color: white;" ><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item dropdown" style="margin-top: 15px;">
        <a class="nav-link dropdown-toggle " style="color: #b5b5b5;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <center><i class="fas fa-file-alt fa-2x"></i><br>Catalogo</center>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/servistar/clientes">Clientes</a>
          <a class="dropdown-item" href="/servistar/tecnicos">Tecnicos</a>
          <a class="dropdown-item" href="/servistar/refacciones">Refacciones</a>
          <a class="dropdown-item" href="/servistar/gastos_fijos">Gastos Fijos</a>
          <a class="dropdown-item" href="/servistar/servicios">Descripcion <br> del trabajo</a>
        </div>
      </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a  class="nav-link "  href="/servistar/reportes"><center><i id="adminI" style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #5b5378;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #5b5378;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #5b5378;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color: white;"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Tecnicos</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Editar</h1>
                                <form action="/ver_tecnico" method="POST" id="form">
                               
                                
                                <div class="row">
                                <div class="col-md-4">
                                    <label>Selecciona un tecnico a modificar</label>
                                    <select name="tecnico" id="" class="form-select text-dark m-1 " required>
                                        <option value="">-</option>
                                        <option value="1">Tecnico 1</option>
                                        <option value="2">Tecnico 2</option>
                                        <option value="3">Tecnico 3</option>
                                        <option value="4">Tecnico 4</option>
                                        <option value="5">Tecnico 5</option>
                                        <option value="6">Tecnico 6</option>
                                        <option value="7">Tecnico 7</option>
                                        <option value="8">Tecnico 8</option>
                                        <option value="9">Tecnico 9</option>
                                        <option value="10">Tecnico 10</option>

                                    </select>
                                </div>
                               
                                </div>
                               
                                <button class="btn btn-info size-2" title="GUARDAR"> <i style="color: white;" class="fas fa-check"></i></button>

                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-3 h4">Ayudantes</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#d9d9d9;">
                                <h1 class="text-dark mb-3 h4">Editar</h1>
                                <form action="/ver_ayudante" method="POST" id="form">
                               
                                
                                <div class="row">
                                <div class="col-md-4">
                                    <label>Selecciona un ayudante a modificar</label>
                                    <select name="ayudante" id="" class="form-select text-dark m-1 " required>
                                        <option value="">-</option>
                                        <option value="1">Ayudante 1</option>
                                        <option value="2">Ayudante 2</option>
                                        <option value="3">Ayudante 3</option>
                                        <option value="4">Ayudante 4</option>
                                        <option value="5">Ayudante 5</option>
                                        <option value="6">Ayudante 6</option>
                                        <option value="7">Ayudante 7</option>
                                        <option value="8">Ayudante 8</option>
                                        <option value="9">Ayudante 9</option>
                                        <option value="10">Ayudante 10</option>

                                    </select>
                                </div>
                               
                                </div>
                               
                                <button class="btn btn-info size-2" title="GUARDAR"> <i style="color: white;" class="fas fa-check"></i></button>

                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const busquedaNO = document.getElementById("busquedaNO")
    const busquedaCO = document.getElementById("busquedaCO")
    const busquedaCA = document.getElementById("busquedaCA")
    const busquedaNU = document.getElementById("busquedaNU")

    let array = []
    {{#each clientes }}
    array.push({
        id: "{{IdCliente}}",
        nombre: "{{Nombre}}",
        calle: "{{DirCalle}}",
        colonia: "{{DirColonia}}",
        numero:"{{DirNum}}"
    })
    {{/each}}

            function buscarNO() {
                busquedaCO.value=""
                busquedaCA.value=""
                busquedaNU.value=""
                const texto = busquedaNO.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let nombre = array[index].nombre.toLowerCase()
                    if (nombre.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            function buscarCO() {
                busquedaNO.value=""
                busquedaCA.value=""
                busquedaNU.value=""
                const texto = busquedaCO.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let colonia = array[index].colonia.toLowerCase()
                    if (colonia.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            function buscarCA() {
                busquedaCO.value=""
                busquedaNO.value=""
                busquedaNU.value=""
                const texto = busquedaCA.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let calle = array[index].calle.toLowerCase()
                    if (calle.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            function buscarNU() {
                busquedaCO.value=""
                busquedaCA.value=""
                busquedaNO.value=""
                const texto = busquedaNU.value.toLowerCase()
                if (texto == "") {
                    document.getElementById("tblh").style.display = "none"
                    for (index = 0; index < array.length; index++) {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                    return
                }
                for (index = 0; index < array.length; index++) {
                    let numero = array[index].numero
                    if (numero.indexOf(texto) !== -1) {
                        document.getElementById(array[index].id).style.display = "block"
                        document.getElementById("tblh").style.display = "block"
                    } else {
                        document.getElementById(array[index].id).style.display = "none"
                    }
                }

            }
            busquedaNO.addEventListener("keyup", buscarNO)
            busquedaNO.addEventListener("keydown", buscarNO)
            busquedaCO.addEventListener("keyup", buscarCO)
            busquedaCO.addEventListener("keydown", buscarCO)
            busquedaCA.addEventListener("keyup", buscarCA)
            busquedaCA.addEventListener("keydown", buscarCA)
            busquedaNU.addEventListener("keyup", buscarNU)
            busquedaNU.addEventListener("keydown", buscarNU)

            function Agregar() {
                document.getElementById("btnadd").style.display = "none"
                document.getElementById("form").style.display = "block"

            }

</script>